/*

overrides

*/

/* removes link status text */
.ServicesListItem .TrafficLight .montage-Text { display: none; }

.ServicesListItem .TrafficLight {
    font-size: .5em;
    margin-bottom: 0;
    margin-right: 1rem;
    padding: 0;
}
