.MainSidebar {
    display: flex;
    flex-direction: column;
    border-right: 2px solid #0F1213;
    background-color: rgba(43, 156, 216, 1);
    background-size: 310px 195px;
    background-image: url(../../../assets/images/bg.png);
    width: 9rem;
}

/* Logos */

.logoButton {
    position: relative;
    flex-shrink: 0;
    height:  6em;
    cursor: pointer;
    outline: none;
}

.MainSidebar-freenasLogo,
.MainSidebar-ixLogo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center center;
    background-size: calc(100% - 3em);
    background-repeat: no-repeat;
    transition: transform .45s cubic-bezier(.8,0,.2,1);
}

.MainSidebar-freenasLogo {
    background-image: url(../../../assets/images/logo.png);

    @media (min-height: 40em) {
        background-image: url(../../../assets/images/logo-stacked.png);
    }
}
.MainSidebar-ixLogo {
    background-size: calc(100% - 4em);
    background-position: center center;
    transform: translateX(100%);
    background-image: url(../../../assets/images/ix_logo.png);
}

.logoButton.is-flipped .MainSidebar-freenasLogo { transform: translateX(-100%); }
.logoButton.is-flipped .MainSidebar-ixLogo {
    transform: translateX(0);
}

.MainSidebar-navigation { flex: 1; }

.MainSidebar-userSummary { flex-shrink: 0; }

.MainSidebar-globalActions {
    position: relative;
    background: #0F1213;

    & > * {
        min-width: 0;
    }

    & svg {
        height: 1.4em;
        width: 1.4em;
    }
}

.MainSidebar-globalActions-button {
    display: flex;
    padding: .5em;
    cursor: pointer;

    &:focus {
        background: rgba(255,255,255,.05);
    }

    &:focus + .MainSidebar-globalActions-options {
        display: block;
    }
}

.MainSidebar-user {
    width: 100%;
    word-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: .5em;
}

.MainSidebar-globalActions-options {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    padding: 0;
    bottom: 100%;
    list-style: none;
    margin: 0;
    border-top-right-radius: 4px;
    border-top-left-radius:  4px;

    &:active {
        display: block;
    }

    /* extends hit area over main button for UX */

    &:before {
        position: absolute;
        content: '';
        bottom: -3rem;
        left: 0;
        right: 0;
        height: 3rem;
        background: transparent;
        cursor: pointer;
    }

    & li {
        background: #16171A;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.2);

        &:hover {
            background: #242628;
        }
    }

    & button {
        width: 100%;
        text-align: left;
        padding: .5em;
        color: #e6e6e6;
        font-size: 1em;
        font-weight: 200;
        font-family: inherit;
        cursor: pointer;
    }
}

.MainSidebar .MainSidebar-confirmation {
    display: none;
    position: absolute;
    bottom: 0;
    background: inherit;

    & button {
        min-width: 64px;
    }
}

.MainSidebar.has-confirmation .MainSidebar-confirmation {
    display: block;
}

