.MainSidebar {
    display: flex;
    flex-direction: column;
    border-right: 2px solid #0F1213;
    background-color: rgba(43, 156, 216, 1);
    background-size: 310px 195px;
    background-image: url(../../../assets/images/bg.png);
}

/* Logo */

.MainSidebar-freenasLogo {
    flex-shrink: 0;
    height:  5em;
    background-position: center;
    background-size: calc(100% - 2em);
    background-repeat: no-repeat;
    background-image: url(../../../assets/images/logo.png);
}

.MainSidebar-navigation {
    flex: 1;
}

.MainSidebar-userSummary {
    flex-shrink: 0;
}


@media (min-height: 40em) {
    .MainSidebar-freenasLogo {
        height:  6em;
        background-size: calc(100% - 3em);
        background-image: url(../../../assets/images/logo-stacked.png);
    }
}
