.MainSidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top:  0;
    left: 0;
    height: 100%;
    width: 12em;
    background: rgba(43, 156, 216, .4);
}

.MainSidebar:after {
    content: "";
    background-size: 310px 310px;
    background: url(../../../assets/images/brushed-metal.gif);
    opacity: .3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

/* Logo */

.MainSidebar-freenasLogo {
    text-align: center;
}

.MainSidebar-freenasLogo > img {
    height: 8em;
    padding: 1em;
    width: auto;
}
