.BootPoolAction {
    display: flex;
    flex-wrap: wrap;
    width: 11em;
    margin-bottom: -.25em;
    margin-right: -.25em;
    justify-content: space-between;
}

.BootPoolAction > * {
    flex: 1;
    margin-bottom: .25em !important;
    margin-right: .25em !important;
}
