.AllocationBar {
    display: flex;
    height: 1.5em;
}

.AllocationBar-segement {
    position: relative;
}

.AllocationBar-segement-data {
    font-size: .7em;
    line-height: 1rem;
    position: absolute;
    top: 50%;
    margin-top: -.5rem;
    left: .25rem;
    color: rgba(255,255,255,.6);
    display: flex;
}

.AllocationBar-segement-data > div:first-child {
    margin-right: .25em;
}

.AllocationBar-parity     { background-color: #672BD8; }
.AllocationBar-used       { background-color: #DE9B16; }
.AllocationBar-available  { background-color: #40AD40; }
