.btn {
  .button-size( @padding-base-vertical;
                @padding-base-horizontal + 4px;
                @font-size-base;
                @line-height-base;
                @border-radius-base
              );
}

.button-variant(@color; @background; @border) {
  color: @color;
  background-color: @background;
  #gradient > .vertical( @background, darken( @background, 5% ) );
  border-color: @border;

  &:hover,
  &:focus,
  &:active,
  &.active,
  .open > .dropdown-toggle& {
    color: @color;
    background-color: darken(@background, 10%);
    background-image: none;
        border-color: darken(@border, 12%);
  }
  &:active,
  &.active,
  .open > .dropdown-toggle& {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: @background;
      background-image: none;
          border-color: @border;
    }
  }

  .badge {
    color: @background;
    background-color: @color;
  }
}

.btn-group-justified {
  .flex-display( flex );

  & > .btn,
  & > .btn-group {
    .flex( 1 );
    display: block;
  }
}

.radio-style( @radio-color ) {
  & > .btn {
    color: darken( @radio-color, 10% );
  }
  #gradient > .vertical( fade( @radio-color, 10% ), @radio-color );
  &.disabled {
    background-image: none;
    background-color: #EBEBEB;
  }
}

.btn-group-radio {
  border-radius: @border-radius-base;
  background-color: @freenas-gray;

  &.btn-group-radio-default,
  &.btn-group-radio-primary {
    .radio-style( @brand-primary );
  }

  &.btn-group-radio-warning {
    .radio-style( @brand-warning );
  }

  &.btn-group-radio-info {
    .radio-style( @brand-info );
  }

  &.btn-group-radio-success {
    .radio-style( @brand-success );
  }

  &.btn-group-radio-danger {
    .radio-style( @brand-danger );
  }

  & > .btn {
    width: auto;
    background: none;
    .box-shadow( none );
    background-color: white;
    border: none;
    margin: 1px 0.5px;
    border-radius: 0;

    & + .btn {
      margin-left: 0.5px;
    }

    &.disabled {
      color: #C6C6C6;
    }

    &.active {
      background-color: transparent;
      color: white;
      &.disabled {
        color: #7E7E7E;
      }
    }

    &:first-child {
      margin-left: 1px;
      border-radius-top: ( @border-radius-base - 1px ) 0 0 ( @border-radius-base - 1px );
    }

    &:last-child {
      margin-right: 1px;
      border-radius: 0 ( @border-radius-base - 1px ) ( @border-radius-base - 1px ) 0;
    }

    &:only-child {
      border-radius: ( @border-radius-base - 1px );
    }
  }

  .btn.disabled,
  .btn[disabled],
  fieldset[disabled] .btn {
    opacity: 1;
  }
}

.btn-link {
  .btn-link();
  color: @gray;
  background-image: none;
  padding: 0.15em;
  line-height: 1em;
  height: 1em;
  width: 1em;
  box-sizing: initial;
  vertical-align: middle;

  &:hover,
  &:focus {
    color: @brand-primary;
    text-decoration: none;
  }
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus {
      color: rgba(0, 0, 0, 0.5);
    }
  }
}
