.form-control {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom-width: 1px;
  background-color: transparent;
  border-radius: 0;
  border-color: #9e9e9e;
  .box-shadow( none );

  &:hover {
    border-color: lighten( @brand-primary, 5% );
  }

  &:active,
  &:focus {
    .box-shadow( none );
  }

  &:active,
  &:focus,
  &:hover {
    background-color: rgba( 255, 255, 255, 0.5 );
  }
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: transparent;
  border-bottom-style: dotted;
  color: @gray-light;
  border-color: @gray-light;

  &:active,
  &:focus,
  &:hover {
    border-color: @gray-light;
    background-color: transparent;
  }
}

.form-overlay {
  border-color: #F1F1F1;
  color: white;
  .placeholder( #C4C4C4 );

  .form-control {
    color: white;
  }

  &.form-control:active,
  .form-control:active,
  &.form-control:focus,
  .form-control:focus,
  &.form-control:hover
  .form-control:hover {
    background-color: rgba( 255, 255, 255, 0.1 );
  }

  .input-group-addon {
    color: white;
  }
}

.input-group-addon {
  background: none;
  color: inherit;
  border: none;
}
