.DockerLogs {

    & .Scrollview-transform {
        flex: 1 !important;
        display: flex !important;
    }

    & .Inspector-body {
        flex: 1 !important;
        display: flex !important;
    }
}

.DockerLogs .Console {
    min-width: 40rem;
}
