@styles-path: "../../styles/";

@import ( reference ) "@{styles-path}core.less";

.disclosure-triangle {
  .disc-title {
    cursor: default;
    .no-select();

    .icon {
      padding      : 0;
      margin-right : 0.5em;
      width        : 0.5em;
      text-align   : center;
      vertical-align: middle;
    }
  }

  .disc-show {
    display: block;
  }

  .disc-hide {
    display  : none;
    overflow : hidden;
  }
}
