@styles-path: "../../styles/";

@import ( reference ) "@{styles-path}core.less";

.section-nav {
  .text-center();
}

.heading-with-nav {
  .clearfix();
  color: white;
  font-size: 30px;
  padding: 0.75em 1em 0.25em;
  #gradient > .directional( @freenas-gray
                          , lighten( @freenas-gray, 5% )
                          , @golden-angle
                          );
  border-bottom: 2px solid lighten( @freenas-gray, 10% );

  .section-heading {
    font-size: 26px;
    margin: 0;
    height: auto;
    width: auto;
    float: left;
  }

  .section-nav {
    height: 30px; // HACK: Works around inline-block

    .btn {
      font-size: 14px;
    }
    .btn-group {
      vertical-align: top;
    }
  }
}

.heading-with-nav-addon {
  margin-top: 0;
  background: lighten( @freenas-gray, 10% );
  color: white;
  border: none;
  border-radius: 0;
}