.CronRule {
    position: relative;
}

.CronRule:not(:last-child) {
    margin-bottom:  1em;
}

.CronRule-form {
    display: flex;
    align-items: flex-end;
}

.CronRule-selector {
    width: 8em;
    margin-right: 1em;
}

.CronRule-substitution {
    width: 10em;
}

.CronRule-controls {
    margin-top: .5em;
    display: flex;
}

.CronRule-controls--on {
    flex-wrap: wrap;
}

.CronRule-controls--every .CronRule-control + .CronRule-control {
    margin-left: .5em;
}

.CronRule .MultipleSelectGrid {
    margin-top: .5em;
    width: 100%;
}
