.CalendarListDay {
    margin-bottom: 1em;
}

.CalendarListDay.has-no-event {
    display: none;
}

.CalendarListDay-date {
    font-weight: 400;
    color: var(--grey-2);
    font-size: 1em;
    margin-bottom: .5rem;
}

