.SystemSection-substitution {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.SystemSection-substitution > div:first-child {
    display: flex;
    flex-direction: column;
    flex: 1;

    & .Scrollview-transform {
        display: block;
    }
}

.SystemSection.has-table {
    min-width: 45em;
}

