.TaskTypeIndicator {
    display: inline-block;
    width:  .8em;
    height: .8em;
    border-radius: 50%;
    background-color: currentColor;
    margin-right: .5em;
}

.CalendarWidgetTask .TaskTypeIndicator {

    margin-right: .25em;
}

.TaskTypeIndicator.type-rsync_copy                      { color: var(--orange); }
.TaskTypeIndicator.type-volume_scrub                    { color: var(--blue-darken-2); }
.TaskTypeIndicator.type-replication_replicate_dataset   { color: var(--aqua); }
.TaskTypeIndicator.type-disk_parallel_test              { color: var(--purple); }
.TaskTypeIndicator.type-update_checkfetch               { color: var(--yellow-orange); }
.TaskTypeIndicator.type-volume_snapshot_dataset         { color: var(--maroon); }

