.TaskTypeIndicator {
    display: inline-block;
    width: .8em;
    height: .8em;
    border-radius: 50%;
    background-color: currentColor;
    margin-right: .5em;
}

.CalendarWidgetTask .TaskTypeIndicator {

    margin-right: .25em;
}

.TaskTypeIndicator.type-rsync_copy,
.type-rsync_copy .TaskTypeIndicator  {
    color: var(--task-rsync-color);
}

.TaskTypeIndicator.type-calendar_task_command,
.type-calendar_task_command .TaskTypeIndicator  {
    color: var(--task-command-color);
}

.TaskTypeIndicator.type-volume_scrub,
.type-volume_scrub .TaskTypeIndicator  {
    color: var(--task-scrub-color);
}

.TaskTypeIndicator.type-replication_sync,
.type-replication_sync .TaskTypeIndicator  {
    color: var(--task-replication-color);
}

.TaskTypeIndicator.type-disk_parallel_test,
.type-disk_parallel_test .TaskTypeIndicator  {
    color: var(--task-smart-color);
}

.TaskTypeIndicator.type-update_checkfetch,
.type-update_checkfetch .TaskTypeIndicator  {
    color: var(--task-update-color);
}

.TaskTypeIndicator.type-volume_snapshot_dataset,
.type-volume_snapshot_dataset .TaskTypeIndicator  {
    color: var(--task-snapshot-color);
}
