body, html { height: 100%; }

body {
    display: flex;
    flex-direction: column;
}

.Main {
    flex: 1;
    display: flex;
    flex-direction: column;
    outline: 1px solid #aaa;
}

.Main.inspector {
    padding-top: 1em;
    max-width: 400px;
}
