.CalendarList {
    position: relative;
}

.CalendarList-days {
    padding-top: 1em;
}

.CalendarList-day {
    margin-bottom: 1em;
}

.CalendarList-date {
    font-weight: 400;
    color: #B1BCBE;
    font-size: 1em;
    margin-bottom: .5rem;
}
