.CalendarWidget {
    position: relative;
    border-spacing: 0;
    font-weight: 200;
    border: 1px solid #16171A;
}

.CalendarWidget td { padding: 0; }

.CalendarWidget caption {
    padding: 1em 0;
    text-align: left;
}

.CalendarWidget-date {
    color: #E0E5E5;
    font-size: 1.5em;
    flex: 1;
}

/* buttons */

.Calendar-navigation button {
    font-size: .8em;
    height: 2.5em;
    background: #2A2E33;
    color: #939E9F;
    border: 1px solid #0F1213;
    cursor: pointer;
    outline: none;
}

.Calendar-navigation button:not(.selected):not(.montage--disabled):hover,
.Calendar-navigation button:not(.montage--disabled):hover {
    background: #343739;
    color: #E0E5E5;
}

.CalendarWidget-todayButton {
    height: 2rem;
    padding: 0 1rem;
    margin-right: .5rem;
    border-radius: 4px;
    border: 0;
    outline: none;
}

.CalendarWidget-todayButton.montage--disabled {
    opacity: .25;
    cursor: not-allowed;
}

/* Calendar Navigation */

.Calendar-navigation {
    flex: 1;
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.Calendar-navigation-buttons {
    display: flex;
    margin-right: 1em;
}

.Calendar-navigation-button {
    height: 2rem;
    width:  2rem;
    background: #242628;
    color: #939E9F;
    cursor: pointer;
}

.Calendar-navigation-button:first-child {
    border-top-left-radius:     4px;
    border-bottom-left-radius:  4px;
    border-right: none;
}

.Calendar-navigation-button:first-child svg {
    transform: rotate(180deg);
}

.Calendar-navigation-button:last-child {
    border-top-right-radius:     4px;
    border-bottom-right-radius:  4px;
}

.CalendarWidget thead td {
    background: #2A2E33;
    color: #E0E5E5;
    font-weight: 200;
    height:      2rem;
    line-height: 2rem;
    font-size: .8em;
    text-align: center;
}

.CalendarWidget-day {
    height: 5.5em;
}

.CalendarWidget-taskCategories {
    display: flex;
    align-items: center;
}

/*

Media Queries

*/

@media (min-height: 60em) {
    .CalendarWidget-day {
        height: 8em;
    }
}
