.DisconnectionModal-content {
    background: var(--primary--7);
    text-align: center;
    padding: 1em 2em 4em 2em;
    margin-top: 2rem;
    border-radius: 4px;
    box-shadow: 0 2px 2px 2px rgba(0,0,0,.5);
}

.DisconnectionModal-modal.montage-Overlay--visible {
    opacity: 1;
    visibility: visible;
}

.DisconnectionModal-spinner {
    margin-top: 3em;
    font-size: 1.5em;
    display: none;
}

.DisconnectionModal-modal.montage-Overlay--visible .DisconnectionModal-spinner {
    display: block;
}
