.DisconnectionModal-content {
    background: #16171A;
    text-align: center;
    padding: 1em 2em 4em 2em;
    border-radius: 4px;
    box-shadow: 0 2px 2px 2px rgba(0,0,0,.5);
}

.DisconnectionModal-modal.montage-Overlay--visible {
    opacity: 1;
    visibility: visible;
}

.DisconnectionModal .has-loading-spinner {
    margin-top: 3em;
    font-size: 1.5em;
}
