.RadioButtonField {
    display: inline-block;
    cursor: pointer;
    padding: .25rem 0;

    &.montage--disabled {
        cursor: not-allowed;
        opacity: .5;
    }

    &:hover {
        & .RadioButtonField-control {
            border-color: var(--primary--1);
            background-color: var(--input-bg-color);
        }
    }

    & label { cursor: pointer; }

    &.montage--disabled label { cursor: not-allowed; }
}

/* Control */

.RadioButtonField-control { margin-right: .25em; }

/* Block Modifier */

.FieldRadioGroup--block .RadioButtonField {
    display: block;
}
