### SublimeText ###
*.sublime-workspace

### PyCharm ###
.idea

### Visual Studio Code ###
.vscode

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/


### PROJECT SETTINGS ###
*.pyc
*.swp
*.mo
*.o
*.so


# Any and all logs
*.log

# Exclude Grunt and Bower build data
node_modules
bower_components

# Exclude compiled webapp
app/build/
app-deploy/

# Exclude config files
freenas9-conf.json
freenas10-conf.json
customSystem.js

*.info/**/node_modules

# Exclude builds
builds/

tests/e2e/reports/

*.js.map
bin/

core/*.js
core/backend/
core/components/
core/controller/
core/converter/
core/dao/
core/reducers/
core/repository/
core/route/
core/service/
core/model/enumerations/
core/model/[A-Z]*.js
ui/**/*.css
!ui/**/_*.css
