.Sideboard {
    box-sizing: content-box;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    background-color: var(--primary--8);
    border-left: 1px solid var(--separator-color);
    width: 15em;
    overflow: hidden;
    transition: margin .5s cubic-bezier(.7,0,.3,1);
    will-change: margin;

    &.is-collapsed { margin-right: -11.2em; }
}


.Sideboard-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: transform .5s cubic-bezier(.7,0,.3,1);

    @nest .is-collapsed & {
        transform: translateX(4em);
    }
}

.Sideboard-icons {
    position: absolute;
    left: calc( -3.5em - 5px);
    top: .5em;
    padding: .5em;
}

.Sideboard-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.Sideboard-widgets { flex: 1; }

.Sideboard-toggleSideboard {
    position: absolute;
    bottom: 1em;
    left: 1em;
    height: 2em;
    width:  2em;
    border-radius: 4px;
    padding: .3em;
    outline: none;
    border-color: transparent;
    cursor: pointer;
    visibility: visible;
    opacity: 1;
    transition: transform .5s cubic-bezier(.7,0,.3,1);
    z-index: 1;
    border: 1px solid var(--primary--3);

    @nest .is-collapsed & { transform: translateX(-4em); }

    &:hover {
        color: var(--white);
        background-color: var(--primary--4);
    }
}

/* expands toggle hit area - hacky */
.Sideboard.is-collapsed .Sideboard-toggleSideboard:before {
    position: absolute;
    content: '';
    top: -100vh;
    left: -1rem;
    /* matches width of collapsed sideboard */
    width: 3.7em;
    bottom: -1rem;
}

.Sideboard .Sideboard-toggleSideboard svg {
    transition: transform .5s cubic-bezier(.7,0,.3,1);
}

.Sideboard.is-collapsed .Sideboard-toggleSideboard svg {
    transform: rotateY(180deg);
}
