.Sideboard {
    border-left: 3px solid rgba(0,0,0,1);
    background-color: #0F1214;
}

.Sideboard-widget {
    display: block;
    height: 5em;
    background: rgba(255,255,255,.1);
}

.Sideboard-widget + .Sideboard-widget {
    margin-top: 2em;
}
