.TaskNotificationDetails {
    position: absolute;
    top:    0;
    bottom: 0;
    left:   0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.TaskNotificationDetails:after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 1em;
    left: 0;
    right: 0;
    background: linear-gradient(rgba(42,46,51,0),#2A2E33);
}

.TaskNotificationDetails header {
    position: relative;
    display: flex;
    align-items: center;
    background: #0C5688;
    color: #E0E5E5;
    padding: .5em;
}

.TaskNotificationDetails.has-error header   { background: #E0003A; }
.TaskNotificationDetails.has-warning header { background: #D95B1B; }

.TaskNotificationDetails-title {
    flex: 1;
    text-align: center;
    margin-right: 1em;
}

.TaskNotificationDetails-backButton {
    flex-grow: 0;
    width:  1em;
    height: 1em;
    margin-right: .5em;
    cursor: pointer;
    outline: none;
}

.TaskNotificationDetails-backButton:before {
    content: '';
    position: absolute;
    top:    0;
    left:   0;
    right:  0;
    bottom: 0;
}

.TaskNotificationDetails-backButton:hover:before { background: rgba(255,255,255,.1); }

.TaskNotificationDetails-backButton svg {
    transform: rotate(180deg);
    transition: color .25s ease-in-out;
}

.TaskNotificationDetails-backButton:hover svg { color: #FFF; }

.TaskNotificationDetails main {
    position: relative;
    flex: 1;
    display: flex;
    background: #2A2E33;
    font-size: .8em;
}

.TaskNotificationDetails .Scrollview { flex: 1; }

.TaskNotificationDetails .ScrollviewContent { padding: .5rem; }

.TaskNotificationDetails-messages {
    margin: -.5rem;
    margin-bottom: .5rem;
    background: #B40331;
    color: #fff;
}

.TaskNotificationDetails-errorMessage,
.TaskNotificationDetails-warning {
    padding: .5rem;
}

/* error message toggle */

.TaskNotificationDetails-errorMessage                                    { display: none;  }
.TaskNotificationDetails.has-error .TaskNotificationDetails-errorMessage { display: block; }

.TaskNotificationDetails.has-warning .TaskNotificationDetails-messages { background-color: #C44D11; }
