.CascadingListItem-VolumeCreator.CascadingListItem {
    flex: 1;
    min-width: 37.25em;
    max-width: 50em;
}

.VolumeCreator .Inspector {
    /* magic number tided to sidebar width */
    margin-right: 12.3em;
}

/* maxes out scrollbar */
.VolumeCreator > .Inspector .Scrollview .Scrollview-transform {
    max-height: 100%;
}

.VolumeCreator .Inspector-body {
    margin: 0;
    flex: 1;
    display: flex;
}

.VolumeCreator-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.VolumeCreator-Topology {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.VolumeCreator-sidebar {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    /* magic number tied to inspector margin */
    width: 12.3em;
    background-color: #2F3233;
    overflow: hidden;
    border-left: 2px solid #232629;
}

.Inspector.is-locked + .VolumeCreator-sidebar .FoldableSection-content {
    height: 0 !important;
    pointer-event: none;
}
