.Volume {

}

.Volume-header {
    padding: 1em;
    display: flex;
}

/* Icon */

.Volume-header-icon {
    width: 6em;
    margin-right: 2em;
}

.Volume-header-icon img { width:  100%; }

/* Info */

.Volume-header-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Volume-header-info-size {
    font-size: 1.5em;
}
