.VolumeCreator {
    min-width: 60em;

}

.VolumeCreator .Inspector-body {
    margin: 0;
    display: flex;
    flex: 1;
}

.VolumeCreator-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 42em;
}

.VolumeCreator-Topology {
    flex: 1;
    display: flex;
    position: relative;
}
