.TopologyDropZone {
    /*position: relative;*/
    color: rgba(255,255,255,.2);
    border-radius: 4px;
    border: 1px dashed currentColor;
    text-align: center;
    flex-shrink: 0;
}

.TopologyDropZone:after {
    box-sizing: content-box;
    content: "+";
    position: absolute;
    font-size: 1em;
    height: 1rem;
    width:  1rem;
    top: 50%;
    margin-top: -.5rem;
    left: 50%;
    margin-left: -.5rem;
    line-height: .9rem;
    border-radius: .5rem;
    box-shadow: 0 0 0 1px currentColor;
}

.TopologyDropZone.willAcceptDrop {
    visibility: visible;
    background-image: repeating-linear-gradient(-45deg, rgba(43,156,216,0.25), rgba(43,156,216,0.25) 1px, transparent 1px, transparent 10px);
    background-size: 28px 28px;
    -webkit-animation-direction: normal;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: blink;
    -webkit-animation-timing-function: ease;
    animation-direction: normal;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: blink;
    animation-timing-function: ease;
}

.TopologyDropZone.acceptDrop {
    visibility: visible;
    border: 1px dashed rgba(43,156,216,1);
    background-image: repeating-linear-gradient(-45deg, rgba(43,156,216,0.75), rgba(43,156,216,0.75) 1px, transparent 1px, transparent 10px);
    background-size: 28px 28px;
    background-color: rgba(43,156,216,0.1);
}


.acceptDrop.TopologyDropZone:after {
    color: #fff;
    box-shadow: 0 0 0 1px #1E963F,
                0 2px 2px rgba(0,0,0,.3);
    background: #1E963F;
}
