.TopologyDropZone {
    margin: .25em;
    margin-bottom: 1em;
    color: rgba(255,255,255,.4);
    border: 1px dashed rgba(255,255,255,.1);
    border-radius: 4px;
    width: 6em;
    height: 6em;
    line-height: 6em;
}


/*FIXME: @joshua FYI */
.TopologyDropZone.willAcceptDrop {
    -webkit-animation-direction: normal;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: blink;
    -webkit-animation-timing-function: ease;
    animation-direction: normal;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: blink;
    animation-timing-function: ease;
}

.TopologyDropZone.acceptDrop {
    border:1px solid red;
}

@-webkit-keyframes blink {
    0% {
        border-color: red;
    }

    50% {
        border-color: rgba(255,0,0,.1);
    }

    100% {
        border-color: red;
    }
}

@keyframes blink {
    0% {
        border-color: red;
    }

    50% {
        border-color: rgba(255,0,0,.1);
    }

    100% {
        border-color: red;
    }
}
