.CurrentUserSummary {
    text-align: center;
    padding-top:    .5rem;
    margin-bottom:  .5rem;

    & > *:not(:last-child) {
        margin-bottom: .5em;
    }
    border-top: 1px solid var(--primary);
}

.CurrentUserSummary-time {
    justify-content: space-around;
    display: flex;
    font-size: .8em;
}

.CurrentUserSummary-hostStatus {
    justify-content: center;
}

.CurrentUserSummary-host,
.CurrentUserSummary-user {
    width: 100%;
    padding: 0 .25rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
