.Notifications {
    position: relative;
    margin-bottom: 1em;
    overflow: hidden;
    border-radius: 4px;

}

.Notifications-header {
    position: relative;
    background-color: #2F3233;
    padding: .5em;
    border-top-right-radius: 2px;
    border-top-left-radius:  2px;
}

.Notifications-title {
    font-weight: 400;
}

.Notifications-body {
    position: relative;
    z-index: 1;
    height: 10em;
    overflow: hidden;
    background-color: #242628;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius:  2px;
}

/* Empty State */

.Notifications-emptyState {
    position: absolute;
    text-align: center;
    color: rgba(255,255,255,.5);
    width:100%;
    top:  50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Notifications-emptyState.is-hidden { display: none; }
