.CurrentNode {
    position: absolute;
    width:  100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.CurrentNode.isBefore   { transform: translateX(-101%); }
.CurrentNode.isAfter    { transform: translateX(101%) }

.CurrentNode-scrollview {
    position: relative;
    display: flex;
    min-height: 0;
}

/* parent node */

.CurrentNode-parentNode {
    display: flex;
    align-items: center;
    padding: .25em 0;
    background-color: var(--blue-lighten-2);
    color: var(--white);
    flex-shrink: 0;
}

/* sidebar */

.CurrentNode-parentNode:before {
    content: '';
    position: absolute;
    left: 0;
    width: .5em;
    top: 0;
    bottom: 0;
    background-color: var(--blue-lighten-2);
    z-index: 0;
}

.childSelected .CurrentNode-parentNode { background-color: grey; }
.childSelected .CurrentNode-parentNode:before { background-color: grey; }

.CurrentNode-parentNode-icon {
    width:  1.5em;
    height: 1.5em;
    color: var(--white);
    margin-right: .5em;
}

.CurrentNode-parentNode-icon svg {
    width:  100%;
    height: 100%;
}

/* Empty State */

.CurrentNode-emptyState {
    display: none;
    max-width: 20em;
    background-color: var(--transparent--lighten);
    align-self: center;
    padding: 1em 2em;
    text-align: center;
    margin-top: 2em;
    border-radius: 4px;

    & span:first-child {
        font-weight: 400;
        color: #f0f0f0;
        margin-bottom: 1rem;
    }

    & span:last-child {
        margin-bottom: .25em;
    }

    @nest .CurrentNode.is-empty & {
        display: block;
    }
}
