/* Webfont: Lato-SemiboldItalic */
@font-face {
    font-family: 'Lato';
    src: url('../@{fontsPath}/lato/Lato-SemiboldItalic.eot'); /* IE9 Compat Modes */
    src: url('../@{fontsPath}/lato/Lato-SemiboldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../@{fontsPath}/lato/Lato-SemiboldItalic.woff2') format('woff2'), /* Modern Browsers */
         url('../@{fontsPath}/lato/Lato-SemiboldItalic.woff') format('woff'), /* Modern Browsers */
         url('../@{fontsPath}/lato/Lato-SemiboldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 600;
    text-rendering: optimizeLegibility;
}
