/* Webfont: Lato-Black */
@font-face {
    font-family: 'Lato';
    src: url('@{fontsPath}/Lato-Black.eot'); /* IE9 Compat Modes */
    src: url('@{fontsPath}/Lato-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('@{fontsPath}/Lato-Black.woff2') format('woff2'), /* Modern Browsers */
         url('@{fontsPath}/Lato-Black.woff') format('woff'), /* Modern Browsers */
         url('@{fontsPath}/Lato-Black.ttf') format('truetype');
    font-style: normal;
    font-weight: 900;
    text-rendering: optimizeLegibility;
}
