/* Webfont: Lato-MediumItalic */
@font-face {
    font-family: 'Lato';
    src: url('@{fontsPath}/Lato-MediumItalic.eot'); /* IE9 Compat Modes */
    src: url('@{fontsPath}/Lato-MediumItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('@{fontsPath}/Lato-MediumItalic.woff2') format('woff2'), /* Modern Browsers */
         url('@{fontsPath}/Lato-MediumItalic.woff') format('woff'), /* Modern Browsers */
         url('@{fontsPath}/Lato-MediumItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 500;
    text-rendering: optimizeLegibility;
}
