/* Webfont: Lato-Medium */
@font-face {
    font-family: 'Lato';
    src: url('@{fontsPath}/Lato-Medium.eot'); /* IE9 Compat Modes */
    src: url('@{fontsPath}/Lato-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('@{fontsPath}/Lato-Medium.woff2') format('woff2'), /* Modern Browsers */
         url('@{fontsPath}/Lato-Medium.woff') format('woff'), /* Modern Browsers */
         url('@{fontsPath}/Lato-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
    text-rendering: optimizeLegibility;
}
