/* Webfont: Lato-Semibold */
@font-face {
    font-family: 'Lato';
    src: url('@{fontsPath}/Lato-Semibold.eot'); /* IE9 Compat Modes */
    src: url('@{fontsPath}/Lato-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('@{fontsPath}/Lato-Semibold.woff2') format('woff2'), /* Modern Browsers */
         url('@{fontsPath}/Lato-Semibold.woff') format('woff'), /* Modern Browsers */
         url('@{fontsPath}/Lato-Semibold.ttf') format('truetype');
    font-style: normal;
    font-weight: 600;
    text-rendering: optimizeLegibility;
}
