/* Webfont: Lato-HairlineItalic */
@font-face {
    font-family: 'Lato';
    src: url('../@{fontsPath}/lato/Lato-HairlineItalic.eot'); /* IE9 Compat Modes */
    src: url('../@{fontsPath}/lato/Lato-HairlineItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../@{fontsPath}/lato/Lato-HairlineItalic.woff2') format('woff2'), /* Modern Browsers */
         url('../@{fontsPath}/lato/Lato-HairlineItalic.woff') format('woff'), /* Modern Browsers */
         url('../@{fontsPath}/lato/Lato-HairlineItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 100;
    text-rendering: optimizeLegibility;
}
