/* Webfont: Lato-BlackItalic */
@font-face {
    font-family: 'Lato';
    src: url('../@{fontsPath}/lato/Lato-BlackItalic.eot'); /* IE9 Compat Modes */
    src: url('../@{fontsPath}/lato/Lato-BlackItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../@{fontsPath}/lato/Lato-BlackItalic.woff2') format('woff2'), /* Modern Browsers */
         url('../@{fontsPath}/lato/Lato-BlackItalic.woff') format('woff'), /* Modern Browsers */
         url('../@{fontsPath}/lato/Lato-BlackItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 900;
    text-rendering: optimizeLegibility;
}
