.CpuUsage {
    position: relative;
    display: flex;
    flex: 1;
    flex-flow: column wrap;
    margin: 4px;
    padding: 8px 12px;
    min-width: 400px;
    height: 240px;
    box-sizing: border-box;
    box-shadow: 0 0 1px rgba(0, 0, 0, .4);
    background: white;
}

.CpuUsage-title {
    text-transform: uppercase;
    color: #b0b0b0;
    margin-bottom: 4px;
}

.CpuUsage-chart {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 200px;
}
