.DiskSelectorDropzone {
    color: rgba(255,255,255,.2);
    border-radius: 4px;

    &:after {
        display: none;
        box-sizing: content-box;
        content: "+";
        position: absolute;
        font-size: 1em;
        height: 1rem;
        width:  1rem;
        top: .6em;
        left: 50%;
        margin-left: -.5rem;
        line-height: .9rem;
        border-radius: .5rem;
        box-shadow: 0 0 0 1px currentColor;
        z-index: 1;
        text-align: center;
    }

    &:before {
        display: none;
        content: '';
        position: absolute;
        top:    0;
        left:   0;
        right:  0;
        bottom: 0;
        border: 1px dashed currentColor;
        background-image: repeating-linear-gradient(-45deg, rgba(43,156,216,0.2), rgba(43,156,216,0.2) 1px, transparent 1px, transparent 10px);
        background-size: 28px 28px;
    }

    &.willAcceptDrop { animation: blink 1s infinite ease; }

    &.willAcceptDrop:before,
    &.willAcceptDrop:after {
        display: block;
    }

    &.willAcceptDrop:before {
        border: 1px dashed rgba(43,156,216,1);
        animation: blink 1s infinite ease;
    }

    &.acceptDrop:before,
    &.acceptDrop:after {
        display: block;
    }

    &.acceptDrop:before {
        border: 1px dashed rgba(43,156,216,1);
        background-image: repeating-linear-gradient(-45deg, rgba(43,156,216,0.75), rgba(43,156,216,0.75) 1px, transparent 1px, transparent 10px);
        background-size: 28px 28px;
        background-color: rgba(43,156,216,0.1);
    }

    &.acceptDrop:after {
        color: #fff;
        box-shadow: 0 0 0 1px #1E963F,
                    0 2px 2px rgba(0,0,0,.3);
        background: #1E963F;
    }
}





