.ScrollviewFooterWrapper .InspectorFooter {
    background: rgba(0,0,0,.15);
    margin-right: 0;
    box-shadow: 0 -2px 6px rgba(0,0,0,.3);
}

.InspectorFooter {
    margin-top: 1em;
    padding: 1em;
    display: none;
    flex-shrink: 0;
    flex-direction: flex-start;}

.InspectorFooter.is-visible {
    display: flex;
}

.InspectorFooter > * {
    flex: 1;
}

.InspectorFooter-buttons {
    padding: 1em;
    display: flex;
    background: rgba(0,0,0,.2);
}

.InspectorFooter .blueShark-Button {
    min-width: auto;
    width: auto;
    visibility: hidden;
}

.InspectorFooter .blueShark-Button.is-visible {
    visibility: visible;
}

.InspectorFooter-delete.blueShark-Button {
    color: rgb(200, 70, 70);
    background: rgba(150, 36, 36,.1);
    border: 1px solid rgb(150, 36, 36);
    box-shadow: none;
}

.InspectorFooter-delete.blueShark-Button:hover {
    color: #FFF;
    background: rgb(150, 36, 36);
    box-shadow: none;
}


