.AvailableDisksCategory {
    position: relative;

    &.is-expanded {
        flex: 1;

        & .Scrollview-transform { display: block; }
    }

    & .Scrollview-transform {
        display: none;
    }

    &:last-child .Button {
        background-color: color(#2A2E33 l(11%));
    }
}

.AvailableDisksCategory-toggle.Button {
    flex-shrink: 0;
    text-align: left;
    height: 2rem;
    line-height: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #242628;
    cursor: pointer;

    &:hover {
        background-color: color(#2A2E33 l(15%));
    }

    & svg {
        order: 1;
        margin-right: -2px;

        @nest .AvailableDisksCategory.is-expanded & {
            transform: rotate(180deg);
        }
    }
}

.AvailableDisksCategory.willAcceptDrop:before,
.AvailableDisksCategory.acceptDrop:before {
    content: '';
    position: absolute;
    /* set to match title height */
    top:    0;
    left:   0;
    right:  0;
    bottom: 0;
    border: 1px dashed transparent;
}

.AvailableDisksCategory-grid { padding: .5em; }

.AvailableDisksCategory.willAcceptDrop:before {
    animation-direction: normal;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: blink;
    animation-timing-function: ease;
    border-style: dashed;
}

.AvailableDisksCategory.acceptDrop:before {
    border-color: rgba(43,156,216,1);
    background-color: rgba(43,156,216,0.1);
}

.AvailableDisksCategory .GridItem.unhealthy .Grid-icon.LabeledIcon {

    &:before {
        content: '';
        width:  .5em;
        height: .5em;
        background: #E0003A;
        border-radius: .5em;
        margin-top: .75em;
        margin-left: .3em;
        position: absolute;
        z-index: 9999;
    }
}
