.ListItem {
    display: flex;
    align-items: center;
    height:         3em;
    padding-left: 1em;
    position: relative;
    font-family: 'lato', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-weight: 300;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    border-top:     1px solid var(--transparent--lighten);
    border-bottom:  1px solid var(--transparent--lighten);
    background-color: var(--grey-blue);
    transition: background-color .25s, color .25s, border-color .25s;

    &:hover {
        background-color: color(var(--grey-blue) shade(20%));
        color: var(--main-text-color);
    }
}

/* States ---------------------------------- */

.ListItem.selected {
    background: var(--color-selected);
    cursor: default;
    color: var(--main-text-color);

    @nest .CascadingListItem:not(:nth-last-child(2)) & {
        background:     color(var(--color-selected) shade(15%));
        border-color:   color(var(--color-selected) shade(15%));
    }
}

.ListItem + .ListItem,
.ListItem:first-child {
    border-top-color: transparent;
    /* removes top border from first child and any sibling ListItem*/
}

.ListItem-labels {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.ListItem-label {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ListItem-subLabel {
    font-size: .75em;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--grey-1);

    @nest .ListItem.selected & {
        color: var(--main-text-color);
    }
}

.ListItem-icon > * {
    width:  1.9em;
    height: 1.9em;
    /* gives the size to the icon */
    margin-right: 1em;
    color: currentColor;
    transition: color .25s;

    @nest .ListItem:hover & {
        color: var(--main-text-color);
    }

    @nest .ListItem.selected & {
        color: var(--main-text-color);
    }
}

/* List Item arrow */

.ListItem-arrow {
    width: 1.4em;
    display: flex;
    margin-right: .5em;
    color: currentColor;

    & svg {
        align-self: center;
        width:  2em;
        height: 2em;
    }
}

/* Status Icon */

.ListItem-status {
    font-size: .6em;
    margin-right: 1rem;
}
