.ListItem {
    height: 43px;
    line-height: 43px;
    padding: 0 16px;
    position: relative;
    font-family: 'lato', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-weight: 300;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    background: rgba(255,255,255,.05);
}

.ListItem-label {
    position: absolute;
    top: 0;
    left: 16px;
    right: 29px;
    bottom: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ListItem:hover {
    background: rgba(255,255,255,.1);
}

.selected > .ListItem {
    background: #2B9CD8;
    cursor: default;
    color: white;
}

/* List Item Icon*/

.ListItem:before {
    position: absolute;
    right: 8px;
    font-size: 20px;
    font-family: 'freenas';
    content: "\e900";
    color: rgba(255,255,255,.8);
}

.ListItem:hover:before {
    color: #fafafa;
}
