.ListItem {
    display: flex;
    justify-content: space-between;
    height: 43px;
    line-height: 43px;
    padding-left: 16px;
    position: relative;
    font-family: 'lato', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-weight: 300;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    background: rgba(255,255,255,.05);
}

.ListItem-label {
    /*position: absolute;
    top: 0;
    left: 16px;
    right: 29px;
    bottom: 0;*/
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ListItem:hover {
    background: rgba(255,255,255,.1);
}

.selected > .ListItem {
    background: #2B9CD8;
    cursor: default;
    color: #fff;
}

/* List Item Icon*/

.ListItem-icon {
    width: 1.4em;
    display: flex;
    margin-right: .5em;
    color: #ddd;
}

.ListItem-icon svg {
    align-self: center;
    width:  2em;
    height: 2em;
}

.ListItem:hover .ListItem-icon {
    color: #fafafa;
}
