.Viewer  {
    /* compensates for inspector */
    @nest .Inspector & {
        margin: 0 -1em;
    }
}

.Viewer-header {
    height: 3rem;
    border-bottom: 1px solid var(--separator-color);
    background-color: var(--primary);
    display: flex;
    flex-shrink: 0;
}

.Viewer-footer { flex-shrink: 0; }

/* Title */

.Viewer-title {
    flex: 1;
    padding: .5em 1em;
    line-height: 2em;
    flex-shrink: 0;
    font-size: 1em;
    overflow: hidden;
    font-weight: 400;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* Create */

.Viewer-createButton {
    padding: 0 .5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--green);
}

.Viewer-createButton-plus {
    border: 1px solid currentColor;
    width:  1.8em;
    height: 1.8em;
    padding: .25em;
    border-radius: 50%;
    transition: background-color .25s;

    @nest .Viewer-createButton:hover & {
        background-color: var(--green);
        border-color:     var(--green);
        color: var(--white);
    }

    @nest .Viewer-createButton:focus & {
        background-color: var(--green);
        border-color:     var(--green);
        color: var(--white);
    }
}

.Viewer-listItem + .Viewer-listItem { border-top: none; }

.Viewer-listItem:hover { background-color: var(--grey-3); }

.Viewer-listItem.selected {
    background: var(--color-selected);
    cursor: default;
    color: var(--white);
}


.Viewer-emptyPanel {
    max-width: 14rem;
}

/* Controls */

.Viewer-controls {
    height: 3em;
    padding: 0 1em;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    & > div:first-child {
        flex: 1;
    }
}
