.Viewer {}

.Viewer > .Scrollview {
    position: absolute;
    top: 0em;
    bottom: 0;
    width: 100%;
}

.Viewer.has-items > .Scrollview {
    top: 3em;
}

.Viewer-header {
    display: none;
    flex-shrink: 0;
    flex-wrap: wrap;
    background: #2A2E33;
}

.Viewer.has-items .Viewer-header {
    display: flex;
}

.Viewer-footer {
    flex-shrink: 0;
    border-top: 1px solid rgba(0,0,0,.2);
}

/* Create */

.Viewer-createButton {
    margin-top: -2px;
    display: flex;
    align-items: center;
    height:         3em;
    line-height:    3em;
    padding-left:   1em;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    outline: none;
    background-color: #1E9440;
    color: #DFE4E4;
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.15));
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2);
    transition: background-color .25s;
}

.Viewer-createButton:hover {
    background-color: #0E722B;
}

.Viewer-createButton svg {
    width:  1.4em;
    height: 100%;
}

.Viewer-createButton-arrow,
.Viewer-createButton-plus {
    display: flex;
    margin-right: .5em;
    color: #ddd;
}

.Viewer-createButton-plus {
    border: 1px solid currentColor;
    width:  1.6em;
    height: 1.6em;
    padding: .25em;
    border-radius: 1em;
}

.Viewer-createButton-label {
    flex: 1;
    font-size: 1em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
}


.Viewer-createButton:hover > * { color: #FFF; }

.selected > .Viewer-createButton {
    background: #2B9CD8;
    cursor: default;
    color: white;
}

/* $fix - what does this go to? */

.Viewer-listItem {
    font-family: 'lato';
    font-weight: 300;
    height: 43px;
    line-height: 43px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 0 16px;
    position: relative;
    font-family: sans-serif;
    cursor: pointer;
}

.Viewer-listItem + .Viewer-listItem {
    border-top: none;
}

.Viewer-listItem:hover {
    background: #fafafa;
}

.Viewer-listItem.selected {
    background: #1a82eb;
    cursor: default;
    color: white;
}

.Viewer-grid {
    padding: 1em;
}

.Viewer-listItem2:before {
    content: "";
    position: absolute;
    top: 0;
    left: 10px;
    right: 10px;
    height: 69px;
    border-radius: 16px;
    background: #ddd;
    cursor: pointer;
}

.Viewer-listItem2 {
    position: relative;
    float: left;
    font-size: 15px;
    line-height: 20px;
    width: 89px;
    height: 20px;
    padding-top: 74px;
    text-align: center;
    margin-bottom: 25px;
}

.Viewer-listItem2.selected:before {
    background: #1a82eb;
    cursor: default;
}
