.context-bar-inactive {
  .flex(0 0 12em);
}

.context-bar-active {
  .flex(0 0 20em);
}

.context-content {
  padding: 0 @panel-body-padding;
  width: 100%;

  .btn-group {
    width: 100%;
  }

  .alert {
    font-size: 14px;
    font-weight: 300;
  }
}

.context-section-header {
  color: @gray-light;
  text-transform: uppercase;
  margin: 1.5em 0 0.75em;
  font-weight: 300;
  overflow: hidden;
}
