.section-nav {
  .text-center();
}

.heading-with-nav {
  padding: 0.45em 1em 0.25em;
  margin: 0;
  box-sizing: initial;
  overflow: visible;
  color: white;
  text-align: center;
  #gradient > .directional( @freenas-gray
                          , lighten( @freenas-gray, 5% )
                          , @golden-angle
                          );
  border-bottom: 2px solid lighten( @freenas-gray, 10% );

  .text {
    display: block;
    text-align: left;
  }

  .section-nav {
    display: inline-block;
    margin: 0.25em auto 0;
    position: relative;
    z-index: 1;
    .transform( translateY( -50% ) );

    &:after {
      content: "";
      position: absolute;
      top: -2px; right: -2px; bottom: -2px; left: -2px;
      display: block;
      background-color: lighten( @freenas-gray, 10% );
      border-radius: 5px;
      z-index: -1;
    }

    .btn {
      font-size: 16px;
    }
    .btn-group {
      float: left; // HACK: Clears positioning error
    }
  }
}

.heading-with-nav-addon {
  margin-top: 0;
  background: lighten( @freenas-gray, 10% );
  color: white;
  border: none;
  border-radius: 0;
}