.tasks-sidebar {
  overflow-y: scroll;

  .task-item {
    .flex-display( flex );

    .task-details {
      .flex( 1 );
    }

    .task-title {
      text-transform: uppercase;
      margin: 5px 10px;
    }

    .task-timestamp {
      width: 100%;
      margin: 0;
      padding: 0 10px;
    }

    .task-user {
      width: 100%;
      margin: 0;
      padding: 0 10px;
    }

    hr {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .progress {
      margin: 5px 10px;
    }
    .task-abort {
      float: right;
      overflow: hidden;
      margin: 0 0 0 10px;
    }

    .task-finished {

    }

    .task-failed {

    }

    .task-waiting {

    }

    .task-executing {

    }

    .task-created {

    }

    .task-aborted {

    }

  }

  .event {

  }
}
