@toggle-switch-y     : 30px;
@toggle-switch-y-sm  : 20px;

.toggle-switch {
  position      : relative;
  display       : inline-block;
  width         : 2*@toggle-switch-y;
  height        : @toggle-switch-y;
  background    : #E7E7E7;
  border-radius : @toggle-switch-y;
  overflow      : hidden;

  &:before,
  &:after {
    content  : "";
    position : absolute;
    display  : inline-block;
    .transition( cubic-bezier(0.22, 0.61, 0.36, 1) 0.25s; );
  }

  &:before {
    height: ( @toggle-switch-y - 4px );
    width: ( @toggle-switch-y - 4px );
    margin: 2px;
    background-color : white;
    .box-shadow(~"-1px -1px 4px 0 rgba(0, 0, 0, 0.25)
                 , 0 0 8px 0 rgba(0, 0, 0, 0.15)"
               );
    border-radius    : 50%;
    left             : 0%;
    z-index          : 1;
  }

  &:after {
    top    : 0;
    right  : 50%;
    bottom : 0;
    left   : 0;
    opacity: 0;
    #gradient > .horizontal( fade( @freenas-gray, 50% ), @brand-primary );
    background-color : @brand-primary;
    border-radius    : @toggle-switch-y;
    .box-shadow( inset 1px 1px 2px 0 rgba(0, 0, 0, 0.15) );
    z-index: 0;
  }

  &.on {
    &:before {
      left: 50%;
      .box-shadow( ~"-1px -1px 4px 0 rgba(0, 0, 0, 0.25)
                    , -1px -1px 6px 1px @brand-primary"
                 );
    }
    &:after {
      right: 0%;
      opacity: 1;
    }
  }

  &.toggle-switch-sm {
    width         : 2*@toggle-switch-y-sm;
    height        : @toggle-switch-y-sm;
    border-radius : @toggle-switch-y-sm;

    &:before {
    height: ( @toggle-switch-y-sm - 2px );
    width: ( @toggle-switch-y-sm - 2px );
    margin: 1px;
    }

    &:after {
      border-radius: @toggle-switch-y-sm;
    }
  }

  &.disabled {
    background: #EBEBEB;
    cursor: not-allowed;

    &:before,
    &.on:before {
      box-shadow: none;
    }

    &.on:after {
      background-image: none;
      background-color: desaturate( lighten( @brand-primary, 40% ), 30%);
      box-shadow: none;
    }
  }
}

.form-group .toggle-switch {
  float: right;
}
