.AvailableDisks {
    position: relative;
    flex: 1;
    padding: 0 1em;
    background-color: #2F3233;
    overflow: hidden;
    border-left: 2px solid #232629;
}

.AvailableDisks-title {
    line-height: 2em;
    padding: .5em 1em;
    padding-left: 1.5em;
    font-weight: 400;
    background: #232629;
    overflow: hidden;
    margin: 0 -1em;
}

.AvailableDisks .FoldableSection:first-child {
    margin-top: 0;
}

.AvailableDisks-category.is-hidden {
    display: none;
}

.AvailableDisks .Inspector-body {
    margin-top: 0;
}

.AvailableDisks-category:first-child .FoldableSection {
    margin-top: 0;
}

/* $fix - Edits to disk icon size - same code as topology */

.AvailableDisks .Grid-icon {
    width: auto;
    height: auto;
    margin-bottom: 0;
}

.AvailableDisks .LabeledIcon-image {
    max-height: 3.5em;
}

.AvailableDisks .LabeledIcon-image > * {
    width: auto;
    height: auto;
}

.AvailableDisks .DiskIcon {
    width: 2.5em;
    padding: .25em;
}



