.Button {
    @apply --button;

    & .Button-content {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.Button-label {
    @apply --button-label;
}

/* image */

.Button svg {
    margin-top: -1px;
    margin-right: .5em;
    max-height: 1.4em;
    max-width:  1.4em;
    vertical-align: middle;
    overflow: visible;
    color: currentColor;

    @nest .Button.montage--disabled:active & {
        transform: translateY(0);
    }
}

.Button:not(.montage--disabled, .Button--naked):active > :not(.Button-label) {
    transform: translateY(.05em);
}

/* Button Group */

.Button-group .Button + .Button { margin-left: .5em;}

/* Button Types */

.Button--block { display: block; width: 100%; }
.Button--large { font-size: 1em; }

.Button--primary    { background-color: var(--blue); }
.Button--create     { background-color: color(var(--green) shade(9%)); }

.Button--alert  {
    position: relative;
    color: var(--red);
    background: rgba(150, 36, 36,.1);

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 1px solid var(--red);
        border-radius: inherit;
    }

    &:hover {
        color: var(--white);
        background: var(--red);
        box-shadow: none;
    }

    &.montage--disabled {
        color: var(--main-text-color);

        &:hover {
            background: var(--grey-1);
        }
    }

    &.montage--disabled:before {
        display: none;
    }
}

.Button--transparent {
    position: relative;
    background-color: transparent;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 1px solid var(--primary--4);
        border-radius: inherit;
    }

    &:hover {
        color: var(--white);
        background-color: var(--primary--4);
        box-shadow: none;
    }

    &:focus:before {
        border-color: var(--accent);
    }

    &.montage--disabled {
        color: var(--main-text-color);

        &:hover {
            background: var(--grey-1);
        }
    }

    &.montage--disabled:before {
        display: none;
    }
}

.Button--naked {
    background: none;
    box-shadow: none;
    border-radius: 0;

    &:hover  { box-shadow: none; }

    &:active { background: none; }
}

.Button--icon {
    min-width: 0;
    padding: 0;
    height: 2.5em;
    width: 2.5em;

    & svg { margin-right: 0 !important; }

    & .Button-label { display: none; }
}

.Button--icon-after {

    & svg { margin-right: -.25rem !important; }

    & .Button-label {
        order: -1;
        margin-right: .25rem;
    }
}

.Button--loader {
    overflow: hidden;

    & .Button-content {
        position: relative;
        overflow: hidden;
    }

    &:after  {
        content: '';
        position: absolute;
        top:    0;
        left:   0;
        right:  0;
        bottom: 0;
        opacity: 0;
        visibility: hidden;
        border-radius: inherit;
        background: rgba(0,0,0,.35);
        transition: all .25s ease-in;
    }

    & .Button-label {
        position: relative;
        z-index: 1;
    }

    & svg {
        position: relative;
        z-index: 1;
        margin-right: 0 !important;
        width: 0;
        transition: all .25s ease-in;
        transform-origin: 50% 50%;

        @nest .is-processing & {
            margin-left: .5rem;
            width: 2em;
        }
    }

    &.is-processing {
        position: relative;

        &:after {
            opacity: 1;
            visibility: visible;
        }

        & svg {
            margin-left: .5rem;
            width: 2em;
        }
    }
}

.Button--add {
    padding: 0;
    background-color: transparent;
    width: auto;
    min-width: 0;
    color: var(--green);

    & .Button-label { display: none; }

    & > .Button-content {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid currentColor;
        width:  1.8rem;
        height: 1.8rem;
        padding: .25em;
        border-radius: 50%;
        transition: background-color .25s;
    }

    &:hover {
        box-shadow: none;
    }

    &:hover:not(.montage--disabled) {

        & > .Button-content {
            background-color: var(--green);
            border-color:     var(--green);
            color: var(--white);
        }
    }

    &:active {
        background: none;
        box-shadow: none;
    }

    &:focus {
        box-shadow: none;

        & > .Button-content {
            border-color:     var(--accent);
            color: var(--white);
        }
    }

    &.montage--disabled {
        background-color: transparent !Important;
        color: var(--main-text-color);
    }

    & svg { margin: 0;}
}
