.Notification {
    position: relative;
    border-bottom:  2px solid rgba(255,255,255,.05);
    background-color: rgba(0,0,0,.1);
}


.Notification-header {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    font-size: .85em;
    letter-spacing: .5px;
    align-items: center;
    padding: .5em;
    padding-left: calc(.5em + 3px);
    padding-right: .25em;
    transition: color            .25s ease-in-out,
                background-color .25s ease-in-out;

    &:hover {
        background-color: rgba(255,255,255,.1);
        cursor: pointer;
        color: #fff;
    }

    @nest .Notification.is-expanded & {
        background-color: var(--blue);
        color: #fff;
    }
}

.Notification-overview {
    flex: 1;
    margin-right: .5rem;
}

.Notification-overview > div {
    display: flex;
    align-items: center;
}

.Notification-overview > div:first-child {
    word-break: break-word;
    margin-bottom: .5em;
}

.Notification-time,
.Notification-service {
    font-size: .75em;
}

.Notification-time { margin-right: .5rem; }

.Notification-progress { width:  100%; }

/* Action Buttons */

.Notification-actions {
    display: flex;
    align-self: flex-start;
}

.Notification-actions > * {
    cursor: pointer;
    outline: none;
    padding: 0;
    margin:  0;
}

.Notification-actions svg {
    display: block;
    height: 2em;
    width:  2em;
    padding: .25em;
    transition: color .25s ease-in-out;
}

/* Expand Arrow */

.Notification-expand {
    margin-top: -.25em;
    transition: color .25s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.Notification-expand svg { transform: rotate(90deg); }
.Notification-expand:hover svg { color: #fff; }

.Notification.is-expanded .Notification-expand svg { transform: rotate(270deg);  }

/* Close Button */
.Notification-close { position: relative; z-index: 1;}
.Notification-close #i-close-bg { fill: transparent; }

.Notification-close:hover #i-close-bg      { fill: #E0003A; stroke: #E0003A;}
.Notification-close:hover #i-close-symbol  { fill: #fff; }

/* Details Hide/Show */

.Notification-details { display: none; }
.Notification.is-expanded .Notification-details { display: block; }
