/* .Table { border: 1px solid #16171A; } */

.Table-header {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    border-bottom: none;
}

.Table-rowRepetition {
    background: rgba(0,0,0,.1);
    border-top: none;
}

.Table-row:nth-of-type(even) { background-color: rgba(0,0,0,.1); }

.Table-row.is-pending {
    pointer-events: none;
    opacity: .25;
    background: green;
    background: rgba(0,0,0,.5);

}

/* .Table-label {
    position: relative;
    font-size: .8em;
    padding: .5rem;
    padding-right: 1.5rem;
    background: #16171A;
    color: #E0E5E5;
    font-weight: 200;
} */

/* .Table-label:not(:last-child) { border-right: 1px solid #242628; } */

/* .Table-label:hover {
    background-image: linear-gradient(rgba(2555,2555,2555,.05), rgba(2555,2555,2555,.05));
} */

/* Selected Column */

.Table-label-orderBy { background: #093B54; }

/* arrow icon */

.Table-label-orderBy:before {
    position: absolute;
    top: 50%;
    margin-top: -.25em;
    right: .5em;
    content: "";
    border-left:  .5em solid transparent;
    border-right: .5em solid transparent;
    border-top:   .5em solid #929E9F;
}

.Table-reverseSorting .Table-label-orderBy:before {
    border-left:  .5em solid transparent;
    border-right: .5em solid transparent;
    border-bottom:   .5em solid #929E9F;
    border-top: none;
}
