.VolumeOverviewItem {
    position: relative;
    display: flex;
    flex-direction: column;
}

.VolumeOverviewItem-overview {
    position: relative;
    display: flex;
    align-items: center;
    height: 1rem;
}

.VolumeOverviewItem-details {
    display: none;
    padding-left: 2em;

    @nest .VolumeOverviewItem.is-expanded & { display: block; }
}

.VolumeOverviewItem-toggle {
    cursor: pointer;

    /* expands hit area */
    &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    & svg {
        height: 1rem;
        width:  1rem;
        transform: rotate(-90deg);
        position: relative;
        top: 2px;
        left: -2px;
    }

    @nest .VolumeOverviewItem.is-expanded & svg { transform: rotate(0); }
}

.VolumeOverviewItem-name {
    margin-left: .5em;
}

.VolumeOverviewItem-size {
    flex: 1;
    text-align: right;
    margin-right: 1em;

    @nest .VolumeOverviewItem.is-expanded & { visibility: hidden; }
}

.VolumeOverviewItem-status {
    font-size: .5em;
    margin-left: 1em;

    & .TrafficLight-legend { display: none; }
}

.VolumeOverviewItem-details {

    & .Field {
        margin-bottom: inherit;
        justify-content: space-between;
    }
    & .Field-title      { width: auto;}
    & .Field-control    { width: auto;}
}

