:root {
    --drawer-header-height: 3em;
}

.Drawer {
    background-color: var(--black);
    user-select: none;
    display: none;
    position: relative;

    @nest .drawer-is-open & {
        display: block;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        height: 14.5em;
        box-shadow: 0 -4px 6px var(--shadow-1);
    }
}

.DrawerContent {
    position: absolute;
    bottom: 0;
    left:  0;
    right: 0;
    height: calc(100% - var(--drawer-header-height));

    &:before,
    &:after {
        position: absolute;
        content: '';
        width: 1em;
        top: 0;
        height: 100%;
        background-image: linear-gradient(90deg, color(var(--black) a(100%)), color(var(--black) a(0%)));
    }

    &:after {
        right: 0;
        background-image: linear-gradient(90deg, color(var(--black) a(0%)), color(var(--black) a(100%)));
    }
}

.Drawer-overlay {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    content: '';
    top:    0;
    right:  0;
    left:   0;
    bottom: 0;
    background-image: radial-gradient(color(var(--red) a(30%)), color(var(--red) a(80%)));
    background-size: 95vw 95vw;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    transition: opacity .35s ease-in-out, visibility .35s ease-in-out;

    @nest .willAcceptDrop & {
        opacity: 1;
        visibility: visible;
    }

    @nest .acceptDrop & {
        opacity: 1;
        visibility: visible;
        background: var(--red);
    }

    & svg {
        position: absolute;
        top: calc(50% - 2.5em);
        left: calc(50% - 2.5em);
        height: 5em;
        width:  5em;
        padding: 1.25em;
        color: var(--main-text-color);
        background: var(--red);
        border-radius: 50%;
        box-shadow: 0px 0px 3px 4px var(--shadow-1);
    }
}

.Drawer > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    height: var(--drawer-header-height);
    padding: 0 1rem;
    background-color: var(--grey-blue);
}

.Drawer-close {
    height: 2.4em;
    width:  2.4em;

    &.is-open {
        transform: translateY(0);
    }
}

.Drawer-title {
    font-size: 1em;
    margin: 0;
    color: var(--main-text-color);
    font-weight: 200;
}

.Drawer-items {
    padding: 1em;
    margin: 0;
    display: flex;
}

.Drawer-item {
    display: inline-block;

    &:not(:last-child) {
        margin-right: 1em;
    }
}
