:root {
    --drawer-header-height: 3em;
}

.Drawer {
    background-color: #16171A;
    user-select: none;
    display: none;
    position: relative;

    @nest .drawer-is-open & {
        display: block;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        height: 14.5em;
        box-shadow: 0 -4px 6px rgba(0,0,0,.3);
    }
}

.DrawerContent {
    position: absolute;
    bottom: 0;
    left:  0;
    right: 0;
    height: calc(100% - var(--drawer-header-height));

    &:before,
    &:after {
        position: absolute;
        content: '';
        width: 1em;
        top: 0;
        height: 100%;
        background-image: linear-gradient(90deg, rgba(22,23,26,1), rgba(22,23,26,0));
    }

    &:after {
        right: 0;
        background-image: linear-gradient(90deg, rgba(22,23,26,0), rgba(22,23,26,1));
    }
}

.Drawer-overlay {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    content: '';
    top:    0;
    right:  0;
    left:   0;
    bottom: 0;
    background-image: radial-gradient(rgba(224,0,58,.2), rgba(224,0,58,.8));
    background-size: 95vw 95vw;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    transition: opacity .35s ease-in-out, visibility .35s ease-in-out;

    @nest .willAcceptDrop & {
        opacity: 1;
        visibility: visible;
    }

    @nest .acceptDrop & {
        opacity: 1;
        visibility: visible;
        background: rgba(224,0,58,1);
    }

    & svg {
        position: absolute;
        top: calc(50% - 2.5em);
        left: calc(50% - 2.5em);
        height: 5em;
        width:  5em;
        padding: 1.25em;
        color: rgba(255,255,255,.9);
        background: rgba(224,0,58,1);
        border-radius: 50%;
        box-shadow: 0px 0px 3px 4px rgba(0,0,0,.2);
    }
}

.Drawer > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    height: var(--drawer-header-height);
    padding: 0 1rem;
    background: #242628;
}

.Drawer-close {
    height: 2.4em;
    width:  2.4em;

    &.is-open {
        transform: translateY(0);
    }
}

.Drawer-title {
    font-size: 1em;
    margin: 0;
    color: #e6e6e6;
    font-weight: 200;
}

.Drawer-items {
    padding: 1em;
    margin: 0;
    display: flex;
}

.Drawer-item {
    display: inline-block;

    &:not(:last-child) {
        margin-right: 1em;
    }
}

/* Drawer Layout Button */

.Drawer-layoutButton {
    display: none;

    @nest .layout-has-changed & {
        display: inline-block;
    }
}
