.Drawer {
    background-color: #16171A;
    user-select: none;
    display: none;

    &.is-open {
        display: block;
         position: relative;
         bottom: 0;
         left: 0;
         right: 0;
         top: 0;
         height: 16.1em;
         margin-top: 0;
    }
}

.Drawer .DrawerContent {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
}

.Drawer > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    height: 3em;
    padding: 0 1rem;
    background: #242628;
}

.Drawer-close {
    height: 2.4em;
    width:  2.4em;

    &.is-open {
        transform: translateY(0);
    }
}

.Drawer-title {
    font-size: 1em;
    margin: 0;
    color: #e6e6e6;
    /* font-weight: 200; */
}

.Drawer-items {
    padding: 1em;
    margin: 0;
    display: flex;

}

.Drawer-item {
    display: inline-block;

    &:not(:last-child) {
        margin-right: 1em;
    }
}

.Drawer .Dashboard-openDrawerButton {
    position: relative;
    right: auto;
    bottom: auto;
}
