<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="task-entry/task-entry.html">
<dom-module id="tasks-widget">
    <template>
        <style>
            :host {
                display: flex;
                flex-direction: column;
                height: 19rem;
            }

            :host .Notifications {
                flex: 1;
                display: flex;
                flex-direction: column;
            }
        </style>
        <div class="Notifications">
            <div class="Widget-header">
                <svg class="Notifications-icon">
                    <use xlink:href="#i-tasks"/>
                </svg>
                <h4 class="Notifications-title">Tasks</h4>
            </div>
            <div class="Widget-content">
                <div class="Notifications-body">
                    <template is="dom-repeat" items="[[tasks]]" as="task">
                        <task-entry task="[[task]]"></task-entry>
                    </template>
                </div>
            </div>
        </div>
    </template>

    <script src="tasks-widget.js"></script>
</dom-module>
