.SystemInfo {
    margin: 1em;
    margin-bottom: 0;
    display: flex;
    background: #16171A;
    color: #E0E5E5;
    box-shadow: 0 2px 0px rgba(0,0,0,.4);
}

.SystemInfo-overview {
    flex: 1;
    padding: 2em;
}

.SystemInfo-hostname {
    margin-top: -.5rem;
    margin-bottom: 1rem;
}

.SystemInfo-dataSummary {
    flex: 3;
    display: flex;
}

.SystemInfo-block {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1;
    padding: 2em;
    min-width: 8em;
    color: #B1BCBE;
}

/* border */
.SystemInfo-block:before {
    position: absolute;
    content: '';
    left: 0;
    top: 0em;
    bottom: 0em;
    border-left: 1px solid #3A4346;
}

.SystemInfo-block-title {
    position: relative;
    text-transform: uppercase;
    padding-bottom: 1em;
    margin-bottom: 1em;
    font-weight: 600;
}

.SystemInfo-block-title:before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #3A4346;
}

.SystemInfo-data + .SystemInfo-data { margin-top: .5em; }
