.Disk {
    min-width: 22em;
}

.Disk .Inspector-optionalButtons {

    & button {
        display: block;
        margin-right: 16px;

        &.hide {
            display: none;
        }
    }
}

.Disk .is-exported .FieldText-text,
.Disk .has-failed  .FieldText-text,
.Disk .is-offline  .FieldText-text {
    font-weight: 500;
}

.Disk .is-exported .FieldText-text  { color: var(--orange); }
.Disk .has-failed  .FieldText-text  { color: var(--red);    }
.Disk .is-offline  .FieldText-text  { color: #E0003A;       }
