.List-item + .List-item > * {
    border-top-color: transparent;
}

.List-spinner {
    height: 4rem;
    margin: 2rem 0;
}

.ListItem .dummy {
    position: absolute;
    margin: -1000px;
    z-index: -1000;
}
