.ContainerReadme {
    width: 35rem !Important;

    & img {
        max-width: 100%;
    }

    & a {
        color: var(--accent);

        &:hover {
            color: color(var(--accent) tint(25%));
        }
    }
}

.ContainerReadme textarea { flex: 1;}

.ContainerReadme-ScrollView .Scrollview-transform { display: block; }
