.Console {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: #000000;
}

.Console-terminal { display: flex; }

.Console .terminal {
    padding: 1rem;
    font-family: monospace;
    font-size: 1.2em;
    color: currentColor !important;
    background: transparent;
    outline: none;
}

.Console .terminal-cursor { background: currentColor; }

.Console .xterm-viewport,
.Console .xterm-helpers {
    display: none;
}
