.TaskCategory {
    display: inline-block;
    margin-right: .5em;
    margin-bottom: .25em;
}

.TaskCategory > * {
    display: inline-block;
    vertical-align: middle;
}

.TaskCategory-type {
    width:  .8em;
    height: .8em;
    border-radius: 50%;
    border: 1px solid currentColor;
    margin-right: .25em;
    cursor: pointer;
}

.TaskCategory.is-disabled .TaskCategory-type {
    background-color: none;
}

.TaskCategory-name {
    font-size: .7em;
    padding: .2em .75em .3em;
    border-radius: 2px;
    color: #E0E5E5;
    background-color: currentColor;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
}

.type-rsync         { color: #D95B1B; }
.type-rsync .TaskCategory-name         { background-color: #D95B1B; }
.type-volume_scrub         { color: #093A51; }
.type-volume_scrub .TaskCategory-name         { background-color: #093A51; }
.type-replication_replicate_dataset   { color: #008C84; }
.type-replication_replicate_dataset .TaskCategory-name   { background-color: #008C84; }
.type-disk_parallel_test         { color: #990F82; }
.type-disk_parallel_test .TaskCategory-name         { background-color: #990F82; }
.type-update_checkfetch        { color: #C4A412; }
.type-update_checkfetch .TaskCategory-name        { background-color: #C4A412; }
.type-snapshot      { color: #6D2A2A; }
.type-snapshot .TaskCategory-name      { background-color: #6D2A2A; }

