.SignIn {
    opacity: 0;
    padding: 2em;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top:    0;
    left:   0;
    right:  0;
    bottom: 0;
    background-color: var(--primary--9);
    z-index: 1000;
    transition: visibility .75s, opacity .25s .5s;
}

.montage-Overlay--visible .SignIn {
    opacity: 1;
}

.SignIn-content {
    position: relative;
    padding: 2em;
    width: 20em;
    background-size: 310px 195px;
    background-color: var(--primary--7);
    transform: scale(0);
    border-radius: 4px;
    transition: transform .75s cubic-bezier(.62,-0.45,.93,.81);
    overflow: hidden;
}

/* needed to fix background-image bleed on border radius */

.SignIn-content:before {
    position: absolute;
    content: '';
    top:    0;
    left:   0;
    right:  0;
    bottom: 0;
    z-index: -1;
}

/* error state */

.SignIn.had-error .SignIn-content { animation: denied .5s ease-in-out; }

/* visible state */

.montage-Overlay--visible .SignIn-content { transform: scale(1); }

/* Logo */

.SignIn-logo {
    margin-bottom: 2em;
    width: 100%;
}

/* Sign In Main Message */

.SignIn-infoText {
    text-align: center;
    margin-bottom: 2em;
}

.SignIn-browserMessage {
    background: var(--red);
    margin: 0 -2em;
    margin-top: -2em;
    padding: 1em 2em;
    color: var(--white);
    margin-bottom: 1em;
    text-align: center;
}

/* Submit button */

.SignIn-submit {

    @nest .isAuthenticating & {
        position: relative;
        overflow: hidden;
    }
}

/* field message */

.field-message {
    display: none;
}

/* error states*/

.SignIn.hasError .field-message {
    color: rgba(255,0,0,.8);
    display: block;
    margin-bottom: 1em;
}

.field.field-hasError input {
    border: 1px solid rgba(255,0,0,.8);
    background: rgba(255,0,0,.075);
}

/* Error Message */

.SignIn-error-message {
    display: none;
    text-align: center;
    transition: opacity .25s;
    background: var(--red);
    color: var(--white);
    padding: 1em 2em;
    margin: 0 -2rem;
    margin-bottom: 2rem;

    @nest .SignIn.hasError & {
        display: block;
    }
}
