.SignIn {
    opacity: 0;
    padding: 2em;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top:    0;
    left:   0;
    right:  0;
    bottom: 0;
    background-color: #000;
    background-image: radial-gradient(rgba(43, 156, 216,.3),rgba(0,0,0,.5) 50%);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1000;
    transition: visibility .75s, opacity .25s .5s;

    @nest .montage-Overlay--visible & { opacity: 1; }
}

.SignIn-content {
    position: relative;
    padding: 2em;
    width: 20em;
    background-size: 310px 195px;
    background-image: url(../../assets/images/bg.png);
    transform: scale(0);
    border-radius: 4px;
    transition: transform .75s cubic-bezier(.62,-0.45,.93,.81);
    overflow: hidden;

    /* needed to fix background-image bleed on border radius */

    &:before {
        background-color: rgba(255, 255, 255, .075);
        position: absolute;
        content: '';
        top:    0;
        left:   0;
        right:  0;
        bottom: 0;
        z-index: -1;
    }

    /* error state */
    @nest .SignIn.had-error &           { animation: denied .5s ease-in-out; }

    /* visible state */
    @nest .montage-Overlay--visible &   { transform: scale(1); }

}

/* Logo */

.SignIn-logo {
    margin-bottom: 2em;
    width: 100%;
}

/* Sign In Main Message */

.SignIn-infoText {
    text-align: center;
    margin-bottom: 2em;
}

.SignIn-browserMessage {
    background: #E0003A;
    margin: 0 -2em;
    margin-top: -2em;
    padding: 1em 2em;
    color: #FFF;
    margin-bottom: 1em;
    text-align: center;
}

/* Submit button */

.SignIn-submit {

    @nest .isAuthenticating & {
        position: relative;
        overflow: hidden;
    }
}

/* Error Message */

.SignIn-error-message {
    display: none;
    text-align: center;
    transition: opacity .25s;
    background: #E0003A;
    color: #FFF;
    padding: 1em 2em;
    margin: 0 -2rem;
    margin-bottom: 2rem;

    @nest .SignIn.hasError & {
        display: block;
    }
}
