.DiskIcon {
    position: relative;
    width: 2.5em;
    margin: .25em;
}

.DiskIcon-mediaSize {
    background: rgba(0,0,0,.9);
    font-size: .7em;
    border-radius: 2px;
    line-height: 1rem;
}
