.Main {
    flex: 1;
    display: flex;
    min-height: 0;
}

/* content */

.Main > main {
    flex: 1;
    display: flex;
    min-width:  0;
}

.Main-content {
    flex: 1;
    display: flex;
    min-width: 0;
}

.Main-substitution {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 0;
    background-color: var(--primary--9);
}

.SignInModal.montage-Overlay--visible {
    background-color: var(--primary--9);
    opacity: 1;
    visibility: visible;
}
