.Main {
    flex: 1;
    display: flex;
}

.Main > main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.Main-wrapper {
    flex: 1;
    display: flex;
}

.Main-content {
    flex: 1;
    display: flex;
    background-size: cover;
    background-image:
        radial-gradient(
            circle farthest-corner at center -5%,
            rgba(255, 255, 255, .1),
            rgba(0, 0, 0, .1)
        );
}

.Main-substitution,
.Main-cascadingListWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #15171B;
    background-size: cover, 310px 310px;
    background-image:
        radial-gradient(
            circle farthest-corner at center -5%,
            rgba(255, 255, 255, .1),
            rgba(0, 0, 0, .05)
        ),
        url(../../assets/images/bg.png);
}

.SignInModal.montage-Overlay--visible {
    opacity: 1;
    visibility: visible;
}
