.Main {}

.mainContent {
    position: absolute;
    height: 100%;
    top:  0;
    left: 12em;
    right: 18em;
    background-size: 310px 310px;
    overflow-y: scroll;
    background: url(../../../assets/images/brushed-metal.gif);
}
