.Main {
    position: relative;
    flex: 1;
    display: flex;
}

.Main-mainSidebar {
    width:  12em;
}

.Main-sideboard {
    width: 18em;
}

.Main-substitution {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #FFF;
    background-size: 310px 195px;
    background-image: url(../../assets/images/bg.png);
    display: flex;
}

.Main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    background-size: cover;
    background-image:
        radial-gradient(
            circle farthest-corner at center -5%,
            rgba(255, 255, 255, .1),
            rgba(0, 0, 0, .1)
        );
}

.AuthorizationManagerPanel {
    width: 550px;
    min-height: 400px;
}
