.Notification-details {
    background: var(--primary);
    font-size: .8em;
    word-break: break-word;
}

.Notification-details main { padding: .5rem;}

.Notification-details h4 { margin: 0; }

.Notification-details main p:last-child { margin-bottom: 0; }

.Notification-details header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Notification-details-title {
    display: block;
    color: var(--grey-1);
    font-weight: bold;

    &:not(:empty) { margin: .5rem; }
}

.Notification-details header button { align-self: center; }

.Notification-details-errorMessage { word-break: break-word; }
