.TopologyEdit {
    flex: 1;
    min-width: 800px;
    display: flex;
}

.TopologyEdit .Inspector-body {
    margin: 0;
    display: flex;
    flex: 1;
}

.TopologyEdit-content .Topology {
    min-width: 500px;
}

.TopologyEdit-content {
    display: flex;
    flex: 1;
}
