.CalendarListItem {
    padding: .2em 0 .3em;
    cursor: pointer;
}

.CalendarListItem:hover {
    background: rgba(255,255,255,.1);
}

.CalendarListItem span {
    display: inline-block;
}

.CalendarListItem-time {
    width: 4.5em;
    text-align: right;
    margin-right: .5em;
    font-weight: 400;
    color: #666;
}


.CalendarListItem-type {
    display: inline-block;
    width:  .8em;
    height: .8em;
    border-radius: 50%;
    background-color: currentColor;
    margin-right: .5em;
}

.CalendarListItem-title {
    color: #B1BCBE;
}
