.CascadingListItem-Topology.CascadingListItem {
    flex: 1;
    min-width: 37.25em;
    max-width: 50em;
}

.TopologyEdit .Inspector {
    /* magic number tided to sidebar width */
    margin-right: 12.3em;
}

.TopologyEdit .Inspector-body {
    margin: 0;
}

.TopologyEdit-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.TopologyEdit-sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    /* magic number tied to inspector margin */
    width: 12.3em;
    background-color: #2F3233;
    overflow: hidden;
    border-left: 2px solid #232629;
    display: flex;
    flex-direction: column;
}

.Inspector.is-locked + .TopologyEdit-sidebar .FoldableSection-content {
    height: 0 !important;
    pointer-event: none;
}

.TopologyEdit.is-detached {
    min-width: 24em;
}

.TopologyEdit.is-detached .Inspector {
    margin-right: inherit;
}

.TopologyEdit.is-detached .TopologyEdit-sidebar {
    display: none;
}
