/*

overrides

*/

/* removes link status text */
.VirtualizationListItem .TrafficLight .montage-Text { display: none; }

.VirtualizationListItem .TrafficLight {
    font-size: .5em;
    margin-bottom: 0;
    margin-right: 1rem;
    padding: 0;
}
