:root {
    --topologyItemMaxHeight: 18em;
}

.TopologyItem {
    position: relative;
    background: #2F3233;
    border-left: 1px solid #232629;
    max-height: 21rem;

    /* allows data to grow larger than data */
    &.has-items.Topology-data { flex: 1; }
}

/*

Title

*/

.TopologyItem-title {
    position: relative;
    height: 2em;
    line-height: 1.7em;
    padding: 0 1em;
    font-weight: 400;
    background: #232629;
    border-top: 2px solid currentColor;
    overflow: hidden;

    /* left decoration */

    &:before {
        content: '';
        position: absolute;
        left: -1.7em;
        top: -1em;
        height: 4em;
        background: currentColor;
        width: 2em;
        transform: rotate(17deg);
    }
}

.TopologyItem-title-content { flex: 1; }

.TopologyItemTitle-size { float: right; }


/************************

allocation bar

*************************/

.TopologyItem-allocationBar {
    display: none !important;

    @nest .TopologyItem.has-items & {
        display: flex !important;
    }
}

/* Sets the different colors */

.Topology-data .TopologyItem-title  { color: #D75B1B; }
.Topology-cache .TopologyItem-title { color: #D68E2A; }
.Topology-log .TopologyItem-title   { color: #929E9F; }
.Topology-spare .TopologyItem-title { color: #CB6614; }


/************************

Grid

*************************/


.vdevs-grid > .Grid-repetition:not(:empty) {
    /* height: 10em; */
}

.TopologyItem-grid {

    @nest .TopologyItem.has-items & {
        max-height: var(--topologyItemMaxHeight);
        /* using native scrolling */
        overflow: scroll;
        padding: .25em .25em .5em .25em;
    }
}

.TopologyItem-dropZone {
    visibility: hidden;
    top: 0;
    bottom: 0;
    left:  -1em;
    right: 0;
    position: absolute;
    margin-left: 1em;
    outline: 1px solid green;
}

.TopologyItem .Grid-icon {
    display: flex;
    width:  auto;
    height: auto;
    margin-bottom: 0;
}

.TopologyItem .LabeledIcon-image > * {
    width: auto;
    height: auto;
}

/************************

Vdev Container

************************/

.TopologyItem-vdevsGrid > .Grid-repetition > .GridItem > .LabeledIcon {
    margin: 0em .25em .5em .25em;
    padding: 0;
}

.TopologyItem-grid .LabeledIcon-title { display: none; }


/* Grid Container*/
.TopologyItem-vdevsGrid > .Grid-repetition > .LabeledIcon > .LabeledIcon-image > * {
    padding: 0;
}
