:root {
    --topologyItemMaxHeight: 18em;
}

.TopologyItem {
    position: relative;
    z-index: 1;
    background: #2F3233;
    max-height: 22rem;
    display: flex;
    flex-direction: column;

    /* allows data to grow larger than data */
    &.has-items.Topology-data {
        flex: 1;
    }

    &.has-items.Topology-log {
        border-left: 1px solid #232629;
    }
}

.TopologyItem-dropZone { flex: 1; }

/*

Title

*/

.TopologyItem-title {
    position: relative;
    height: 2em;
    line-height: 1.7em;
    padding: 0 1em;
    font-weight: 400;
    background: #232629;
    border-top: 2px solid currentColor;
    overflow: hidden;
    /* set to hide behind dropZone overlay */
    z-index: -1;

    /* left decoration */

    &:before {
        content: '';
        position: absolute;
        left: -1.7em;
        top: -1em;
        height: 4em;
        background: currentColor;
        width: 2em;
        transform: rotate(17deg);
    }
}

.TopologyItem-title-content { flex: 1; }

.TopologyItemTitle-size { float: right; }


/************************

allocation bar

*************************/

.TopologyItem-allocationBar {
    display: none !important;
    position: relative;
    z-index: -1;

    @nest .TopologyItem.has-items & {
        display: flex !important;
    }

    @nest .willAcceptDrop & { opacity: .5; }
    @nest .acceptDrop &     { opacity: .5; }
}

/* Sets the different colors */

.Topology-data .TopologyItem-title  { color: #D75B1B; }
.Topology-cache .TopologyItem-title { color: #D68E2A; }
.Topology-log .TopologyItem-title   { color: #929E9F; }
.Topology-spare .TopologyItem-title { color: #CB6614; }


/************************

Grid

*************************/

.TopologyItem-grid {
    flex: 1;

    @nest .TopologyItem.has-items & {
        max-height: var(--topologyItemMaxHeight);
        /* using native scrolling */
        overflow: scroll;
        padding: .25em .25em 0 .25em;
    }
}

.TopologyItem .Grid-icon {
    display: flex;
    width:  auto;
    height: auto;
    margin-bottom: 0;
}

.TopologyItem .LabeledIcon-image > * {
    width: auto;
    height: auto;
}

/************************

Vdev Container

************************/

.TopologyItem-vdevsGrid > .Grid-repetition > .GridItem > .LabeledIcon {
    margin: 0em .25em .5em .25em;
    padding: 0;
}

.TopologyItem-grid .LabeledIcon-title { display: none; }


/* Grid Container*/
.TopologyItem-vdevsGrid > .Grid-repetition > .LabeledIcon > .LabeledIcon-image > * {
    padding: 0;
}
