.FoldableSection {
    overflow: hidden;
    position: relative;
    margin: 0 -1em;
    margin-bottom: 1em;

    &:focus {
        outline: none;
    }
}

/*

title

*/

.FoldableSection .InspectorSectionTitle {
    margin-top:     0;
    margin-bottom:  0;
}

/* Title / Icon button container */

.FoldableSection-expand {
    font-size: 1em;
    font-family: inherit;
    width: 100%;
    position: relative;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: baseline;
    color: inherit;
    padding: 0 1em;

    &:focus:before {
        content: '';
        position: absolute;
        top:     2px;
        left:    2px;
        right:   2px;
        bottom:  2px;
        @apply --input-focus;
    }

    & svg {
        width:  1em;
        height: 1em;
        transform: rotate(-90deg);
        margin-right: .5em;
        position: relative;
        top: .15em;
        color: inherit;
        transition: color .25s ease-in-out;
    }

    &:hover svg { color: #FFF; }
}


.FoldableSection-expand .InspectorSectionTitle-text:after {
    transition: border-color .25s ease-in-out;
}

.FoldableSection-expand:hover .InspectorSectionTitle-text:after { border-color: #fff; }

/* Icon */

.FoldableSection.is-expanded .FoldableSection-expand svg { transform: rotate(0);}

.FoldableSection-expand-titles {
    flex: 1;
    display: flex;
    min-width: 0;
}

.FoldableSection-expand-titles > .InspectorSectionTitle {
    min-width: 0;

    /* removes underline */
    &:before { display: none;}
}


/* content */

.FoldableSection-content {
    display: none;
    transition: height .3s ease-in-out;
    padding: 0 1em;
}

/*

edits internal titles

*/

.FoldableSection-content .InspectorSectionTitle {
    background: none;
    margin-bottom: 1em;
    padding: 0;
}

.FoldableSection-contentContainer { padding: 1em 0; }
.FoldableSection-contentContainer > *:last-child,
.FoldableSection-contentContainer > *:last-child .Field {
    margin-bottom: 0;
}


/* overrides */

.FoldableSection .InspectorFooter { margin: 0 -1em; }

