.FoldableSection {
    overflow: hidden;
    position: relative;
    margin: 0 -1em;
    margin-bottom: 1em;

    &:focus {
        outline: none;
    }
}

/*

title

*/

.FoldableSection .InspectorSectionTitle {
    margin-top:     0;
    margin-bottom:  0;
}

/* Title / Icon button container */

.FoldableSection-expand {
    font-size: 1em;
    font-family: inherit;
    width: 100%;
    position: relative;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: inherit;
    background-color: #232629;
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.2));
    box-shadow: inset 0 1px  rgba(255,255,255,.02),
                inset 0 -1px rgba(0,0,0,.1);

    &:hover { background: #1F2025; }

    &:focus:before {
        content: '';
        position: absolute;
        top:     2px;
        left:    2px;
        right:   2px;
        bottom:  2px;
        box-shadow: 0 0 2px 2px #2089D3;
    }

    & svg {
        width:  1.4em;
        height: 1.4em;
        transform: rotate(90deg);
        color: #6D6D6D;
        margin-right: 1rem;
    }

    &:hover svg {
        color: currentColor;
    }
}

.FoldableSection-expand-titles { padding: .5em 1em; }


.FoldableSection-expand .InspectorSectionTitle-text:after {
    transition: border-color .25s ease-in-out;
}

.FoldableSection-expand:hover .InspectorSectionTitle-text:after { border-color: #fff; }

/* Icon */

.FoldableSection.is-expanded .FoldableSection-expand svg {
    transform: rotate(-90deg) rotateX(-180deg);
}

/* removes underline */
.FoldableSection-expand-titles > .InspectorSectionTitle:before { display: none;}


/* content */

.FoldableSection-content {
    transition: height .3s ease-in-out;
    padding: 0 1em;
    background: rgba(0,0,0,.1);
}

/*

edits internal titles

*/

.FoldableSection-content .InspectorSectionTitle {
    background: none;
    margin-bottom: 1em;
    padding: 0;
}

.FoldableSection-contentContainer { padding: 1em 0; }
.FoldableSection-contentContainer > *:last-child,
.FoldableSection-contentContainer > *:last-child .Field {
    margin-bottom: 0;
}


/* overrides */

.FoldableSection .InspectorFooter { margin: 0 -1em; }

