.FoldableSection {
    position: relative;
    margin-bottom: 1em;
}

/* title */

.FoldableSection .InspectorSectionTitle { margin-bottom: 0; }

/* content */

.FoldableSection-content {
    overflow: hidden;
    transition: all .3s ease-in-out;
}

.FoldableSection-contentContainer { padding: 1em 0; }
.FoldableSection-contentContainer > *:last-child { margin-bottom: 0; }

/* Title / Icon button container */

.FoldableSection-expand {
    position: relative;
    cursor: pointer;
    outline: none;
}

.FoldableSection-expand .InspectorSectionTitle-text:after {
    transition: border-color .25s ease-in-out;
}

.FoldableSection-expand:hover .InspectorSectionTitle-text:after { border-color: #fff; }

/* Icon */

.FoldableSection-expand svg {
    position: absolute;
    top: 50%;
    margin-top: -.7em;
    right: 0;
    width:  1.4em;
    height: 1.4em;
    transform: rotate(90deg);
    color: #6D6D6D;
    transition-property: color, transform;
    /*transition-duration: .25s;*/
    transition-timing-function: ease-in-out;
}

.FoldableSection-expand:hover svg { color: #fff; }

.FoldableSection.is-expanded .FoldableSection-expand svg {
    transform: rotate(-90deg) rotateX(-180deg);
}

