.Notification {
    display: flex;
    align-items: flex-start;
    padding: .75em .5em;
}

.Notification:nth-child(even) {
    background: rgba(255,255,255,.05);
}

.Notification-body {
    font-size: .85em;
    letter-spacing: .5px;
    /*-webkit-font-smoothing: antialiased;*/
    flex: 1;
}

.Notification-small {
    margin-top: .3em;
    font-size: .75em;
    color: rgba(255,255,255,.5);
}

/* Icon */

.Notification svg {
    margin-top: -.1em;
    width:  1.5em;
    height: 1.5em;
    margin-right: .5em;
}

.Notification--event svg { color: grey; }
.Notification--alert svg { color: #D2192D; }
.Notification--task svg  { color: #1CD786; }
