.Notification {
    display: flex;
    align-items: flex-start;
    padding: .5em .5em;
}

.Notification:nth-child(even) {
    background: rgba(255,255,255,.05);
}

.Notification-body {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    font-size: .85em;
    letter-spacing: .5px;
    margin-top: 0.1em;
}

.Notification-small {
    margin-top: .3em;
    font-size: .75em;
    color: rgba(255,255,255,.5);
    margin-left: .5em;
}

.Notification-progress {
    margin-top: .5em;
    width: 100%;
}

.Notification-progress.error {
    background: #ff0000;
}

/* Icon */

.Notification svg {
    margin-top: -.1em;
    width:  1.5em;
    height: 1.5em;
    margin-right: .5em;
    flex-grow: 0;
}

.Notification--event svg { color: grey; }
.Notification--alert svg { color: #D2192D; }
.Notification--task svg  { color: #1CD786; }
