.Chart {
    display: flex;
    flex-direction: column;
    min-width: 25em;
    min-height: 15em;
    width:  100%;
    height: 100%;
    border-radius: 4px;
    overflow: hidden;

}

.Chart svg {
    padding-right: 2em;
    padding-top: 1em;
    flex: 1;
    background: rgba(33, 33, 33, .7);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 2px 2px rgba(0,0,0,.3);
}

.Chart svg text {
    fill: #E0E5E5;
}

.Chart svg g.tick line {
    opacity: 0.25 !important;
}

.Chart .montage-Text {
    padding: 1em;
    line-height: 1em;
    background: #404040;
    color: #E0E5E5;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
