.Volume .Inspector-optionalButtons {

    & button {
        display: block;
    }
}

/* $fix - should this be a component */
.Volume-header {
    height: 4em;
    display: flex;
    background: #DFE4E4;
    color: #181A1D;
    justify-content: center;
    align-items: center;
}

/* Icon */

.Volume-header-icon {
    width:  3em;
    height: 3em;
    margin-right: 1em;
}

.Volume-header-icon img { width:  100%; }

/* Info */

.Volume-header-diskSize {
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1rem;
}

.Volume-allocationBar {
    height: 1em !Important;
    width: 100%;
}
