.StaticRoute {

}

.inspector-footer {
    display: flex;
    padding: .5em;
    text-align: center;
    background: rgba(0,0,0,.2);
}

.inspector-footer > * {
    flex: 1;
}

.StaticRoute {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.inspector-content {
    overflow: scroll;
}

.inspector-footer {
    flex-shrink: 0;
}
