.GridItem > .GridItem {
    max-width: 6em;
}

.Grid-icon {
    float: left;
    display: flex;
    flex-direction: column;
    width:  90px;
    height: 90px;
    cursor: pointer;
    margin-bottom: 1em;
}

.Grid-icon svg {
    max-width: 3em;
}
