.TableLdap .Table-cells > div:nth-child(1),
.TableLdap .TableHeaderLayout-row .TableHeaderLayout-cell:nth-child(1) {
    max-width: 8em;
}

.TableLdap .Table-cells > div:nth-child(2),
.TableLdap .TableHeaderLayout-row .TableHeaderLayout-cell:nth-child(2) {
    min-width: 11em;
}

.TableLdap .Table-cells > div:nth-child(5),
.TableLdap .TableHeaderLayout-row .TableHeaderLayout-cell:nth-child(5) {
    max-width: 8em;
}
