.CalendarListItem {
    padding: .2em 0 .3em;
    cursor: pointer;
}

.CalendarListItem:hover {
    background: rgba(255,255,255,.1);
}

.CalendarListItem.is-disabled {
    opacity: 0.5;
}

.CalendarListItem span {
    display: inline-block;
}

.CalendarListItem.is-textual-schedule .CalendarListItem-time {
    font-size: smaller;
}

.CalendarListItem-time {
    width: 4.5rem;
    text-align: right;
    margin-right: .5rem;
    font-weight: 400;
    color: #666;
}

.CalendarListItem-type {
    display: inline-block;
    width:  .8em;
    height: .8em;
    border-radius: 50%;
    background-color: currentColor;
    margin-right: .5em;
}

.CalendarListItem-title {
    color: #B1BCBE;
}

.CalendarListItem.is-selected {
    background-color: #2B9CD8;
}

.CalendarListItem.is-selected {
    background-color: #2B9CD8;
}

.CalendarListItem.is-selected .CalendarListItem-title,
.CalendarListItem.is-selected .CalendarListItem-time {
    color: #FFF;
}

.CalendarListItem.type-rsync         { color: #D95B1B; }
.CalendarListItem.type-volume_scrub         { color: #093A51; }
.CalendarListItem.type-replication_replicate_dataset   { color: #008C84; }
.CalendarListItem.type-disk_parallel_test         { color: #990F82; }
.CalendarListItem.type-update_checkfetch        { color: #C4A412; }
.CalendarListItem.type-snapshot      { color: #6D2A2A; }


