@styles-path: "../../../styles/";

@import ( reference ) "@{styles-path}core.less";

.context-dashboard {
  margin: 0 0 25px 0;

  .basic-meter {
    margin: 0 25px;

    .progress {
      height: 4px;
      border-radius: 4px;
      margin: 8px 0;
    }

    & > h5 {
      text-transform: uppercase;
      color: #3D3D3D;
      font-weight: 400;
      font-size: 0.85em;

      .percentage {
        color: #121212;
        font-weight: 600;
      }
    }
  }
}
