.placeholder() {
  // Firefox
  &::-moz-placeholder {
    font-style: italic;
    font-weight: 400;
  }
  &:-ms-input-placeholder {
    font-style: italic;
    font-weight: 400;
  }
  &::-webkit-input-placeholder {
    font-style: italic;
    font-weight: 400;
  }
}
