.Alerts {
    & .Widget { height: 16em;}
}

.Notifications-icon {
    height: 1.5em;
    width:  1.5em;
    margin-right: .5em;
}

.Notifications-title { flex: 1; }

/* clear all button */

.Notifications-clear {
    color: inherit;
    padding: .5em 0;

    &:hover {
        color: color(#929E9F lightness(80%));
    }
}
