.AlertNotificationDetails {
    position: absolute;
    top:    0;
    bottom: 0;
    left:   0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.AlertNotificationDetails:after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 1em;
    left: 0;
    right: 0;
    background: linear-gradient(rgba(42,46,51,0),#2A2E33);
}

.AlertNotificationDetails header {
    display: flex;
    align-items: center;
    background: #0C5688;
    color: #E0E5E5;
    padding: .5em;
}

.AlertNotificationDetails.has-error header {
    background: #E0003A;
}

.AlertNotificationDetails-title {
    flex: 1;
    text-align: center;
    margin-right: 1em;
}

.AlertNotificationDetails-backButton {
    flex-grow: 0;
    width:  1em;
    height: 1em;
    margin-right: .5em;
    cursor: pointer;
    outline: none;
}

.AlertNotificationDetails-backButton svg {
    transform: rotate(180deg);
    transition: color .25s ease-in-out;
}

.AlertNotificationDetails-backButton:hover svg {
    color: #FFF;
}

.AlertNotificationDetails main {
    position: relative;
    flex: 1;
    display: flex;
    background: #2A2E33;
    font-size: .8em;
}

.AlertNotificationDetails .Scrollview { flex: 1; }

.AlertNotificationDetails .ScrollviewContent { padding: .5rem; }

.AlertNotificationDetails-errorMessage {
    margin: -.5rem;
    margin-bottom: .5rem;
    background: #B40331;
    color: #fff;
}

.AlertNotificationDetails-errorMessage > span {
    display: block;
    padding: .5rem;
}

/* alert levels */

.AlertNotificationDetails.has-info header     { background: #BB8E00; }
.AlertNotificationDetails.has-warning header  { background: #D95B1B; }
.AlertNotificationDetails.has-critical header { background: #E0003A; }
