.InspectorOption {
    outline: none;
}

.InspectorOption > * {
    border-top:     1px solid rgba(255,255,255,.2);
    border-bottom:  1px solid rgba(255,255,255,.2);
}

.InspectorOption + .InspectorOption > *,
.InspectorOption:first-child > * {
    border-top-color: transparent;
}

.InspectorOption.selected > * {
    border-color: #00A7FF;
}
