.SelectSearchOption {
    cursor: pointer;
    padding: .25em .5em .35em;
    font-family: 'lato';
    font-weight: 200;
}

.SelectSearchOption.selected {
    background: var(--blue-lighten-2);
    color: var(--white);
}
