/********************

Colors

********************/

/*

primary:    #2B9CD8
            rgb(43, 156, 216)

*/

/********************

$Base Styles

********************/

* {
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    font-family: 'Lato', 'helvetica neue', 'helvetica', 'sans-serif';
    font-weight: 300;
    background: #000;
    color: #FFF;
    display: flex;
    flex-direction: column;
}

img {
    width: 100%;
}

/********************

$Fonts

********************/

@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato/Lato-Light-7244318390cc4d36aac4a613ff42d308.woff2') format('woff2'), url(../fonts/lato/Lato-Light-90301aa07d780a09812229d6375c3b28.woff) format('woff');
    font-style: normal;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato/Lato-Regular-bd03a2cc277bbbc338d464e679fe9942.woff2') format('woff2'), url(../fonts/lato/Lato-Regular-27bd77b9162d388cb8d4c4217c7c5e2a.woff) format('woff');
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}


/********************

$Icons

********************/

@font-face {
    font-family: 'freenas';
    src:
        url('../fonts/icons/freenas.ttf?df1sb9') format('truetype'),
        url('../fonts/icons/freenas.woff?df1sb9') format('woff'),
        url('../fonts/icons/freenas.svg?df1sb9#freenas') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="sharedIcon"], [class*=" sharedIcon"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'freenas' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.sharedIcon-checkmark:before {
    content: "\63";
}
.sharedIcon-triangle-down:before {
    content: "\76";
}
.sharedIcon-info:before {
    content: "\69";
}
.sharedIcon-preferences:before {
    content: "\67";
}

/********************

$Buttons

********************/

button {
    box-sizing: border-box;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-size: 1em;
    line-height: 2.9;
    width: 100%;
    font-weight: 300;
    padding: 0 1.8em .1em;
    text-align: center;
    color: white;
    background: white;
    border-radius: .3em;
    border: 0;
    margin: 0;
    cursor: pointer;
    -webkit-appearance: none;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .5);
    background-color: #666;
    background-image: linear-gradient(transparent, rgba(0,0,0,.2));
    box-shadow:
        inset 0 1px rgba(255, 255, 255, .15),
        inset 0 -1px rgba(0, 0, 0, .3),
        0 1px 2px rgba(0, 0, 0, .4);
    transition: box-shadow .1s ease-in-out;
}

button:hover  {
    background-image: linear-gradient(transparent, transparent);
    outline: none;
    box-shadow:
        inset 0 1px rgba(255, 255, 255, .15),
        inset 0 -1px rgba(0, 0, 0, .3),
        0 2px 6px 1px rgba(0, 0, 0, .4);
}

button:active {
    background-image: linear-gradient(rgba(0,0,0,.2), transparent);
    box-shadow:
        inset 0 -1px rgba(255, 255, 255, .15),
        inset 0 1px rgba(0, 0, 0, .3);
    outline: none;
    text-shadow: none;
}

button + button {
    margin-left: .5em;
}

.btn--block { display: block; }

.btn--primary { background-color: #0095d5; }
.btn--cancel  { background-color: #FF0000; }

.btn--small {
    font-size: .75em;
}

/********************

$Inputs

********************/

input,
textarea {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    font-weight: 300;
    margin:     0;
    padding:    0;
    font-size: 1em;
    border: none;
    outline: none;
    color: white;
    padding: 0 0.5em .2em;
    width: 100%;

}

input[type="text"],
input[type="password"],
textarea,
input[type='checkbox'] + label span,
input[type='radio'] + label span {
    background: rgba(0, 0, 0, .25);
    border-radius: .3em;
    border: 1px solid transparent;
    border-top-color: rgba(0, 0, 0, .23);
    border-bottom-color: rgba(255, 255, 255, .15);
}

label {
    font-weight: 200;
    color: rgba(255, 255, 255, .8);
}

input { height: 2em; }

textarea {
    display: inline-block;
    height: 90px;
    background: rgba(0, 0, 0, .25);
    resize: none;
    min-width: 300px;
}

input:focus {
    border: 1px solid #2B9CD8;
}
