.LabeledIcon {
    text-align: center;
}

.LabeledIcon-image {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.LabeledIcon-image > * {
    box-sizing: border-box;
    padding: .25em;
    max-width:  3.5em;
    max-height: 3.5em;
}

.LabeledIcon-image svg {
    width: 100%;
}

.LabeledIcon-label {
    display: inline-block;
    font-size:      14px;
    line-height:    1;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: .2em .5em .3em;
}

/* States */

.selected.LabeledIcon .LabeledIcon-label {
    background: #2B9CD8;
    border-radius: 4px;
}

.selected.LabeledIcon .LabeledIcon-image > * {
    background: rgba(255,255,255,.1);
    border-radius: 4px;
}

