@styles-path: "../../../styles/";

@import ( reference ) "@{styles-path}core.less";

.volume-task {
  margin: 25px;
  padding: @panel-body-padding;
  background-color: #F8F8F8;
  .box-shadow( 0 2px 16px -2px rgba(0, 0, 0, 0.15) );

  .progress {
    margin: 0;
    height: 12px;
    border-radius: 12px;
  }
}

.volume-task-message {
  text-align: center;
  margin: 0 0 0.5em 0;
  font-size: 1.5em;
}
