/* Webfont: Lato-Thin */
@font-face {
    font-family: 'Lato';
    src: url('../@{fontsPath}/lato/Lato-Thin.eot'); /* IE9 Compat Modes */
    src: url('../@{fontsPath}/lato/Lato-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../@{fontsPath}/lato/Lato-Thin.woff2') format('woff2'), /* Modern Browsers */
         url('../@{fontsPath}/lato/Lato-Thin.woff') format('woff'), /* Modern Browsers */
         url('../@{fontsPath}/lato/Lato-Thin.ttf') format('truetype');
    font-style: normal;
    font-weight: 200;
    text-rendering: optimizeLegibility;
}
