.Dashboard {
    overflow: auto;
    display: flex;
    flex-direction: column;
    flex: 1;

    & > main {
        position: relative;
        overflow-y: auto;
    }
}

.Dashboard-widgets {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    padding: .5em;
}

.Dashboard-widget {
    flex: 1;
    margin: .5em;
    width: 25em;
    height: 15em;
}

.Dashboard-widget.is-hidden { display: none; }

.Dashboard-widget.placeholder{
    background: #0c5688;
    min-width: 20px;
    max-width: 20px;
}

.Dashboard-openDrawerButton {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5em 1em;
    bottom: 1rem;
    right:  1rem;
    z-index: 1;
    background: #333;
    color: color(#fff alpha(.5));
    border-radius: 4px;

    & svg {
        fill: green;
        height: 1.4rem;
        width:  1.4rem;
        transform: rotate(90deg);
    }

    @nest .drawer-is-open & {
        display: none;
    }
}


/*FIXME: @joshua*/
.Dashboard.drawer-is-open .Chart-removeButton {
    display: block;
}
/*FIXME: @joshua*/
