.Dashboard {
    overflow: auto;
    /*FIXME: @joshua*/
    display: flex;
    flex: 1;
    /*FIXME: @joshua*/
}

.Dashboard-scrollview {}

.Dashboard-widgets {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    padding: .5em;
}

.Dashboard-widget {
    flex: 1;
    margin: .5em;
    width: 25em;
    height: 15em;
}

.Dashboard-widget.is-hidden {
    display: none;
}

.Dashboard-openDrawerButton {
    position: absolute;
    bottom: 1em;
    right: 1em;
    z-index: 1;
    height: 5em;
    width:  5em;
    color: color(#fff alpha(.5));
    outline: none;

    & svg {
        fill: green;
    }

    @nest .drawer-is-open & {
        display: none;
    }
}
