.Dashboard {}

.Dashboard-widgets {
    display: flex;
    flex-flow: row wrap;
    padding: .5em;
}

.Dashboard-repetition {
    flex-grow: 1;
}

.Dashboard-widget {
    flex-grow: 1;
    margin: .5em;
}

.Dashboard-widget.is-hidden {
    display: none;
}
