.Dashboard {}

.Dashboard-widgetsWrapper {
    display: flex;
    flex-flow: row wrap;
    padding: .25em;
}

.Dashboard * .DashboardWidget {
    height: 240px;
    flex-grow: 1;
}

.DashboardWidget .montage-Text {
    color: #fff;
    font-weight: 400;
    padding: .5em;
    padding-top: .4em;
    background: #0F1213;
}
