.Vdev {
    position: relative;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-color: transparent;
    border: 1px dashed transparent;
}

.Topology.update-mode .Vdev.unhealthy {
    border-color: #E0003A;
}

.Vdev .Grid-icon.LabeledIcon {
    margin-bottom: 0;
}

.Vdev .Grid-icon.LabeledIcon .LabeledIcon-image {
    max-height: 3.5em;
}

.Vdev .LabeledIcon-title {
    /* overrides mreoving the container icon label */
    display: block !important;
}

.Vdev.willAcceptDrop {
    -webkit-animation-direction: normal;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: blink;
    -webkit-animation-timing-function: ease;
    animation-direction: normal;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: blink;
    animation-timing-function: ease;
    border-style: dashed;
}

.Vdev.acceptDrop {
    border-color: rgba(43,156,216,1);
    background-color: rgba(43,156,216,0.1);
}

.Vdev-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background:rgba(0,0,0,.15);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.3);
}


/* Title */
.Vdev-title {
    display: flex;
    align-items: center;
    position: relative;
    order: -1;
    text-align: left;
    background: #222;
    border-top-right-radius: 4px;
    border-top-left-radius:  4px;
    padding: .25em .5em;
}

.Vdev-title:focus {
    outline: none;
}

/* status icon */
.Vdev-title:before {
    content: '';
    display: inline-block;
    width:  .5em;
    height: .5em;
    background: green;
    border-radius: .5em;
    margin-bottom: .02em;
    margin-right: .5em;
}

.Vdev.unhealthy .Vdev-title:before {
    background: #E0003A;
}

/* delete button */

.Vdev-deleteButton {
    height: 1em;
    width:  1em;
    border-radius: .5em;
    margin-left: .5em;
    border: 1px solid currentColor;
    outline: none;
}

.Vdev-deleteButton svg {
    padding: .15em;
    transform: rotate(45deg);
}

.Vdev-deleteButton:hover {
    background-color: #E0003A;
    border-color: #E0003A;
    color: #fff;
}

.VdevTitle-type {
    display: flex;
    flex: 1;
    align-items: center;
}

.VdevTitle-arrow {
    margin-left: .5em;
    display: none;
    width:  0;
    height: 0;
    border-left:    6px solid transparent;
    border-right:   6px solid transparent;
    border-top:     6px solid #929e9f;
}

.VdevTitle-type span.has-options + .VdevTitle-arrow {
    display: block;
}

.Vdev-types {
    display: none;
    position: absolute;
    left: 0;
    background: #E0E5E5;
    color: #16171A;
    margin-left: 1em;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    overflow: hidden;
    box-shadow: 0 2px 2px rgba(0,0,0,.2);
    z-index: 100;
}

.Vdev-types a {
    display: block;
}

.Vdev-types.is-shown {
    display: block;
}

.VdevTypes-type {
    padding: .5em 1em;
}

.VdevTypes-type:hover {
    /*color: #fff;*/
    background: rgba(0,0,0,.1);
}
