.Vdev {
    position: relative;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-color: transparent;
    border: 1px dashed transparent;
}

.Topology.update-mode .Vdev.unhealthy {
    border-color: red;
}

.Vdev .Grid-icon.LabeledIcon {
    margin-bottom: 0;
}

.Vdev .Grid-icon.LabeledIcon .LabeledIcon-image {
    max-height: 3.5em;
}

.Vdev.willAcceptDrop {
    -webkit-animation-direction: normal;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: blink;
    -webkit-animation-timing-function: ease;
    animation-direction: normal;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: blink;
    animation-timing-function: ease;
    border-style: dashed;
}

.Vdev.acceptDrop {
    border-color: rgba(43,156,216,1);
    background-color: rgba(43,156,216,0.1);
}
