.Vdev {
    background:rgba(0,0,0,.15);
    padding: .25em;
    border: solid 1px #333;
    border-bottom-left-radius:  4px;
    border-bottom-right-radius: 4px;
}

.Vdev.unhealthy {
    border-color: red;
}

.Vdev .LabeledIcon {
    flex-basis: 4em;
    margin-bottom: 0;
}

.Vdev .Grid-repetition {
    display: flex;
}

.Vdev .LabeledIcon-image svg {
    width:  3em;
    height: 3em;
}
