.Calendar {
    flex: 1;
    display: flex;
}

.Calendar-wrapper {
    flex: 1;
    @apply --flex-column;
    padding: 1em;
    padding-bottom: 0;
}

.Calendar-events {
    flex: 1;
    @apply --flex-column;
}

.Calendar-events-header {
    border-bottom: 1px solid var(--primary);
    flex-shrink: 0;
    padding-bottom: .25em;
}

.Calendar-events h2 {
    margin: 0;
}

.Calendar-eventsList {
    flex: 1;
    position: relative;
    min-height: 0;
}

/*

Media Queries

*/

@media (min-width: 95em) {
    .Calendar {
        width: 71rem;
    }
}

