.InspectorSectionTitle {
    position: relative;
    margin: 1.5em 0 1em;
    line-height: 1.5em;
    text-align: left;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.InspectorSectionTitle:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.2);
}

.InspectorSectionTitle-title {
    position: relative;
    font-weight: 400;
    margin-bottom: .2rem;
}

.InspectorSectionTitle-subtitle {
    position: relative;
    font-weight: 200;
    color: #B1BCBE;
}
