.InspectorSectionTitle {
    position: relative;
    margin-top: 2em;
    color: rgba(255,255,255,.8);
}

.InspectorSectionTitle-text {
    font-weight: 400;
    padding: .5em 1em;
    background: rgba(0,0,0,.3);
}
