.AvailableDisks {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    outline: 1px solid red;
}

.AvailableDisks-header {
    height: 4em;
    padding: .75em 1em;
    background-color: rgba(255,255,255,.1);
    color: #B1BCBE;

    & p {
        margin-bottom: 0;
    }
}

.AvailableDisks-category {
    /* flex: 1; */
    display: flex;
    flex-direction: column;
}


/* edits to remove offsets for lack of padding*/

.AvailableDisks .FoldableSection {
    margin: 0;
    padding: 0;

    & .InspectorSectionTitle-text {
        font-weight: 200;
    }
}

.AvailableDisks .FoldableSection-expand {
    padding: 0;
    margin:  0;
}

.AvailableDisks .FoldableSection-expand svg { right: 1em; }

.AvailableDisks .FoldableSection-content { padding: 0; }


.AvailableDisks-category.is-hidden { display: none; }

.AvailableDisks .Inspector-body                         { margin-top: 0; }
.AvailableDisks .FoldableSection:first-child            { margin-top: 0; }
.AvailableDisks-category:first-child .FoldableSection   { margin-top: 0; }


/* $fix - Edits to disk icon size - same code as topology */

.AvailableDisks .GridItem { height: 6.5em; }



