.FieldPassword-dummy {
    visibility: hidden;
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
    position:absolute;
    left:0;
    top:0;
    z-index: -1;
}

.FieldPassword-reset.Field {

    @nest .FieldPassword.is-editing & {
        display: none;
    }
}

.FieldPassword-input.Field {
    display: none;

    /* confirm password input */

    & ~ .FieldPassword-input {
        margin-top: -.5em;
    }

    @nest .FieldPassword.is-editing & {
        display: flex;
    }
}
