.InterfaceIcon {
    position: relative;
    line-height: 0;
    color: red;
}

.InterfaceIcon svg {
    color: var(--grey-2);
}

.Grid-icon.selected .InterfaceIcon svg {
    color: var(--color-selected);
}
