.CronJob {
    width: 22em !important;
    background-color: #2F3233;
}

.CronJob .ScrollviewContent {
    min-width: 0;
}

.CronJob-months {
    margin-top: -1em;
    & .MultipleSelectGrid-option {
        min-width: 16.6% !important;
    }
}

.CronJob .FoldableSection { margin-bottom: 0; }
