:root {
    --widget-border-radius: 4px;
}

.Widget {
    display: flex;
    height: 15em;
    flex-direction: column;
    background: var(--main-bg-color);
    border-radius: var(--widget-border-radius);
    overflow: hidden;
    box-shadow: 0px 0px 2px 2px color(var(--color-selected) a(0%));
    transition: box-shadow .25s ease-in-out;

    @nest .drawer-is-open &:hover {
        box-shadow: 0px 0px 2px 2px var(--color-selected);
    }
}

.Widget-header {
    display: flex;
    align-items: center;
    padding: .5rem;
    line-height: 1em;
    height: 2.5em;
    background-color: var(--grey-blue);
    color: var(--grey-3);

    & svg {
        width: 1.4em;
        height: 1.4em;
        margin-right: .5em;
        color: inherit;
    }

    @nest .flip & {
        background-color: var(--color-selected);
    }
}

.Widget-header.Own {
    display: flex;
}

.Widget-header.Injected {
    display: none;
}

.is-title-injected .Widget-header.Own {
    display: none;
}

.is-title-injected .Widget-header.Injected {
    display: flex;
}

.Widget-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    border-bottom-left-radius:  4px;
    border-bottom-right-radius: 4px;

    &:before {
        content: '';
        position: absolute;
        visibility: hidden;
        opacity: 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: var(--widget-border-radius);
        background: color(var(--black) a(75%));
        transition: visibility .35s ease-in-out, opacity .35s ease-in-out;
        z-index: 2;
    }

    @nest .drawer-is-open .has-settings &:before {
        visibility: visible;
        opacity: 1;
    }

    @nest .drawer-is-open .flip &:before {
        visibility: hidden;
        opacity: 0;
    }
}

.Widget-content-front {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;

    & .Scrollview-transform {
        flex: none;
        display: block;
    }
}

.Widget-footer {
    display: flex;
    align-items:     flex-end;
    justify-content: flex-end;
}

.Widget-flipper {
    flex: 1;
    @apply --flex-column;
}

.Widget-front,
.Widget-back {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.Widget.flip .Widget-back,
.Widget .Widget-front {
    display: flex;
}

.Widget.flip .Widget-front,
.Widget .Widget-back {
    display: none;
}

.Widget-back {
    flex: 1;
    align-items: center;

    & .Widget-content {
        display: flex;
        flex-direction: column;
        padding: 1em;
        width: 100%;
        max-width: 25em;
    }

    & .Widget-settings { flex: 1; }

    & .Widget-header { width: 100%; }

    & .Widget-footer {

        & .Button {
            margin-left: .5em;
        }
    }
}

.Widget-info {
    position: absolute;
    z-index: 10;
    left: 1em;
    bottom:  1em;
    visibility: hidden;
    opacity: 0;
    transition: visibility .35s ease-in-out, opacity .35s ease-in-out;

    @nest .drawer-is-open .has-settings & {
        visibility: visible;
        opacity: 1;
    }
}


