.Widget {
    min-width: 25em;
    display: flex;
    height: 15em;
    flex-direction: column;
    background: #16171A;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.Widget-header {
    display: flex;
    padding: .25em;
    line-height: 1em;
    height: 2.5em;
    background: #404040;
    color: #E0E5E5;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.Widget-content {
    flex: 1;
    position: relative;
    overflow: hidden;
}

.Widget-footer {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.Widget-flipper {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.Widget-front, .Widget-back {
    flex: 1;
    flex-direction: column;
}


.Widget.flip .Widget-back, .Widget .Widget-front {
    display: flex;
}

.Widget.flip .Widget-front, .Widget .Widget-back {
    display: none;
}
