.TaskNotification:before {
    position: absolute;
    content: '';
    top: 0;
    width: 3px;
    left: 0;
    bottom: 0;
    z-index: 1;
}

.TaskNotification.has-error {
    background-color: color(var(--red) alpha(8%));
}

.TaskNotification.has-warning:before    { background-color: var(--orange); }
.TaskNotification.has-error:before      { background-color: var(--red); }

.TaskNotification.has-success .Notification-progress .Progress-bar  { background-color: var(--green); }
.TaskNotification.has-warning .Notification-progress .Progress-bar  { background-color: var(--orange); }
.TaskNotification.has-error .Progress-wrapper                       { background-color: var(--red); }

.TaskNotification.is-expired {
    transition: opacity 500ms ease-in;
    opacity: 0;
}
