.CronRules {}

.CronRules-rules { margin-bottom: 1em; }

.CronRules-emptyMessage {
    background-color: rgba(0,0,0,.2);
    border-radius: 4px;
    padding: .5em;
}

.CronRules-actions {
    display: flex;
    justify-content: space-between;

    &:last-child {
        flex: 1;
    }
}
