.EncryptedVolumeImporter-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.EncryptedVolumeImporter-sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    /* magic number tied to inspector margin */
    width: 12.3em;
    background-color: #2F3233;
    overflow: hidden;
    border-left: 2px solid #232629;
}


