.CascadingListItem-EncryptedVolumeImporter.CascadingListItem {
    flex: 1;
    min-width: 37.25em;
    max-width: 50em;
}

.EncryptedVolumeImporter .Inspector {
    /* magic number tided to sidebar width */
    margin-right: 12.3em;
}

/* maxes out scrollbar */
.EncryptedVolumeImporter > .Inspector .Scrollview .Scrollview-transform {
    max-height: 100%;
}

.EncryptedVolumeImporter .Inspector-body {
    margin: 0;
    flex: 1;
    display: flex;
}

.EncryptedVolumeImporter-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.EncryptedVolumeImporter-disks {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.EncryptedVolumeImporter-sidebar {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    /* magic number tied to inspector margin */
    width: 12.3em;
    background-color: var(--grey);
    overflow: hidden;
    border-left: 2px solid var(--grey-blue);
}

.Inspector.is-locked + .EncryptedVolumeImporter-sidebar .FoldableSection-content {
    height: 0 !important;
    pointer-event: none;
}

