.MainNavigationItem {
    display: flex;
    align-items: center;
    flex: 1;
    position: relative;
    letter-spacing: .5px;
    cursor: pointer;
    font-size: .8em;
    padding: 0 .75em;
    transition: background-color    .25s ease-in-out,
                color               .25s ease-in-out;

    &:hover {
        color: var(--white);
        background-color: var(--primary);
    }
}


.MainNavigationItem.selected {
    color: var(--white);
    background-color: var(--color-selected);
}

@media (min-height: 40em) {
    .MainNavigationItem {
        max-height: 3em;
        font-size: 1em;
    }
}

.MainNavigationItem-icon {
    width:  1.4rem;
    height: 1.4rem;
    margin-right: .75rem;
    color: var(--color-selected);

    @nest .MainNavigationItem.selected & {
        color: var(--white);
    }
}

.MainNavigationItem-label {
    flex: 1;
}
