.MainNavigationItem {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    position: relative;
    letter-spacing: .5px;
    color: rgba(255,255,255,.75);
    cursor: pointer;
    font-size: .8em;
}

.MainNavigationItem:hover {
    color: rgba(255,255,255, 1);
    background: rgba(0,0,0,.1);
}

.MainNavigationItem.selected {
    color: #FFF;
    text-shadow: 0 1px 0 rgba(0,0,0,.5);
    background: #2B9CD8;
}

@media (min-height: 40em) {
    .MainNavigationItem {
        flex: 0;
        height: 3em;
        font-size: 1em;
    }
}
