.TaskCategory {
    display: flex;
    align-items: center;
    margin-right: .5em;
    margin-bottom: .25em;
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
}

.TaskCategory:not(:first-child) { margin-left: .5em; }

.TaskCategory-type {
    width:  .8em;
    height: .8em;
    border-radius: 50%;
    border: 1px solid currentColor;
    margin-right: .5em;
}

.TaskCategory.is-disabled .TaskCategory-type { background-color: none; }

.TaskCategory-name {
    font-size: .7em;
    padding: 0 .35rem;
    align-self: center;
    line-height: 1.25rem;
    font-weight: bolder;
    border-top-left-radius:     2px;
    border-bottom-left-radius:  2px;
    color: #E0E5E5;
    background-color: currentColor;

}

.TaskCategory-new {
    color: #FFF;
    text-align: center;
    cursor: pointer;
    line-height: 1.25rem;
    height: 1.25rem;
    border-top-right-radius:    2px;
    border-bottom-right-radius: 2px;
}

.TaskCategory-new:before {
    content: "+";
    display: inline-block;
    padding: 0em .35rem;
    position: relative;
    top: -1px;
    border-left: 1px solid rgba(0,0,0,.1);
}

.TaskCategory.type-rsync                        { color: #D95B1B; }
.TaskCategory.type-rsync .TaskCategory-name,
.TaskCategory.type-rsync .TaskCategory-new      { background-color: #D95B1B; }

.TaskCategory.type-volume_scrub                     { color: #093A51; }
.TaskCategory.type-volume_scrub .TaskCategory-name,
.TaskCategory.type-volume_scrub .TaskCategory-new   { background-color: #093A51; }

.TaskCategory.type-replication_replicate_dataset                        { color: #008C84; }
.TaskCategory.type-replication_replicate_dataset .TaskCategory-name,
.TaskCategory.type-replication_replicate_dataset .TaskCategory-new      { background-color: #008C84; }

.TaskCategory.type-disk_parallel_test                       { color: #990F82; }
.TaskCategory.type-disk_parallel_test .TaskCategory-name,
.TaskCategory.type-disk_parallel_test .TaskCategory-new     { background-color: #990F82; }

.TaskCategory.type-update_checkfetch                        { color: #C4A412; }
.TaskCategory.type-update_checkfetch .TaskCategory-name,
.TaskCategory.type-update_checkfetch .TaskCategory-new      { background-color: #C4A412; }

.TaskCategory.type-snapshot                         { color: #6D2A2A; }
.TaskCategory.type-snapshot .TaskCategory-name,
.TaskCategory.type-snapshot .TaskCategory-new       { background-color: #6D2A2A; }

