.btn {
  .button-size( @padding-base-vertical;
                @padding-base-horizontal + 4px;
                @font-size-base;
                @line-height-base;
                @border-radius-base
              );
}

.button-variant(@color; @background; @border) {
  color: @color;
  background-color: @background;
  #gradient > .vertical( @background, darken( @background, 5% ) );
  border-color: @border;

  &:hover,
  &:focus,
  &:active,
  &.active,
  .open > .dropdown-toggle& {
    color: @color;
    background-color: darken(@background, 10%);
    background-image: none;
        border-color: darken(@border, 12%);
  }
  &:active,
  &.active,
  .open > .dropdown-toggle& {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: @background;
      background-image: none;
          border-color: @border;
    }
  }

  .badge {
    color: @background;
    background-color: @color;
  }
}

.btn-group-justified {
  .flex-display( flex );

  & > .btn,
  & > .btn-group {
    .flex( 1 );
    display: block;
  }
}

.btn-group-radio {
  border-radius: @border-radius-base;

  &.btn-default,
  &.btn-primary {
    & > .btn {
      color: darken( @brand-primary, 10% );
    }
    #gradient > .vertical( darken( @brand-primary, 20% ), @brand-primary );
  }

  &.btn-warning {
    & > .btn {
      color: darken( @brand-warning, 10% );
    }
    #gradient > .vertical( darken( @brand-warning, 20% ), @brand-warning );
  }

  &.btn-info {
    & > .btn {
      color: darken( @brand-info, 10% );
    }
    #gradient > .vertical( darken( @brand-info, 10% ), @brand-info );
  }

  &.btn-success {
    & > .btn {
      color: darken( @brand-success, 10% );
    }
    #gradient > .vertical( darken( @brand-success, 20% ), @brand-success );
  }

  &.btn-danger {
    & > .btn {
      color: darken( @brand-danger, 10% );
    }
    #gradient > .vertical( darken( @brand-danger, 20% ), @brand-danger );
  }

  & > .btn {
    width: auto;
    background: none;
    .box-shadow( none );
    background-color: white;
    border: none;
    margin: 1px 0.5px;
    border-radius: 0;

    & + .btn {
      margin-left: 0.5px;
    }

    &.active {
      background-color: transparent;
      color: white;
    }

    &:first-child {
      margin-left: 1px;
      border-radius: ( @border-radius-base - 1px ) 0 0 ( @border-radius-base - 1px );
    }

    &:last-child {
      margin-right: 1px;
      border-radius: 0 ( @border-radius-base - 1px ) ( @border-radius-base - 1px ) 0;
    }
  }
}
