:root {
    --drawer-height: 7rem;
    --drawer-width:  13rem;
}

.DrawerItem {
    cursor: grab;
}

.DrawerItem > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .75em;
    height: 2.5em;
    line-height: 1em;
    background: #404040;
    color: #e0e5e5;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.DrawerItem-infoToggle {
    width:  2em;
    height: 2em;
    color: color(#e0e5e5 blackness(50%));
    transition: color .2s ease-in-out;

    &:hover {
        color: #e0e5e5;
    }
}

.DrawerItem main {
    position: relative;
    height: var(--drawer-height);
    width: var(--drawer-width);
    background: var(--main-bg-color);
    overflow: hidden;
    border-bottom-left-radius:  4px;
    border-bottom-right-radius: 4px;
    border: 2px solid #404040;
    border-top: none;
}

/* content container */
.DrawerItem-content {
    display: flex;
    position: absolute;
    transition: transform .25s ease-in-out;

    @nest .has-toggled & {
        transform: translateX(-50%);
    }
}

.DrawerItem-front,
.DrawerItem-back {
    width:  var(--drawer-width);
    height: var(--drawer-height);
}

.DrawerItem-back {
    padding: 1em;
}
