.TableCell {
    position: relative;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.TableCell-true:before {
    content: "✓";
    color: #0dc92e;
}
