.DirectoryServices-body {
    flex: 0 !important;
}

.DirectoryServices-body {
    margin: -1rem -1rem 0;
}

.DirectoryServices-searchorderContainer {
    flex-grow: 0;
    padding: 1em;
}

.DirectoryServices-buttons {
    display: flex;
    justify-content: space-between;
}
