.SelectFilterItem {
    &:not(:last-child) {
        margin-bottom: .5em;
    }

    &:hover .SelectFilterItem-checkbox label:before {
        box-shadow: 0 0 2px 2px rgba(255,255,255,.85);
    }
}

.SelectFilterItem-checkbox {
    display: block;

    & label {
        white-space: nowrap;
        display: block;
        color: var(--white);
    }
}

