.CascadingListItem {
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: 'lato';
    border-right: 1px solid rgba(255,255,255,.15);
}

.CascadingListItem-title {
    flex-shrink: 0;
    font-size: 1em;
    line-height: 3em;
    height:      3em;
    padding: 0 1em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: #0F1213;
    text-shadow: 0 1px rgba(0,0,0,.2);
    font-weight: 400;
    border-bottom: 1px solid #2F3233;
}

.CascadingListItem-content {
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    & > * {
        position: relative;
        flex: 1;
        display: flex;
        flex-direction: column;
        min-width: 16em;
    }
}
