.CascadingListItem {
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: 'lato';
    border-right: 1px solid rgba(255,255,255,.15);
    min-width: 18rem;
}

.CascadingListItem-title {
    flex-shrink: 0;
    font-size: 1em;
    line-height: 3em;
    height:      3em;
    padding: 0 1em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: #0F1213;
    /*background-color: #1A3144;*/
    /*background-image: linear-gradient(transparent, rgba(0,0,0,.15) );*/
    /*color: #FFF;*/
    text-shadow: 0 1px rgba(0,0,0,.2);
    font-weight: 400;
}

.CascadingListItem-content {
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.CascadingListItem-content > * {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* sets up scrolling only on inspectors */
.CascadingListItem-content.Inspector-scroll {
    overflow: hidden;
}

/* Changes active state color on last selection  */
.CascadingListItem:nth-last-child(2) .InspectorOption.selected > .ListItem,
.CascadingListItem:nth-last-child(2) .List-item.selected > .ListItem {
    /*background: #00A7FF;*/
}
