@styles-path: "../../../../styles/";

@import ( optional, reference ) "@{styles-path}bootstrap.less";
@import ( optional, reference ) "@{styles-path}variables.less";
@import ( optional, reference ) "@{styles-path}utility.less";

.task-item {
  padding: 4px 0 4px 4px;
  margin: 0 4px;
  .transition( all 0.25s );

  &:hover {
    background-color: white;
    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.05);
    .disc-title .icon {
      color: @brand-primary;
    }
  }

  .task-title {
    margin: 5px 10px;
  }

  .disc-title {
    .flex-display( flex );
    .align-items( center );

    .icon {
      .flex( 0 );
      color: @gray-light
    }

    .task-header {
      .flex( 1 );
    }
  }

  .task-timestamp {
    width: 100%;
    margin: 0;
    padding: 0 10px;
  }

  .task-user {
    width: 100%;
    margin: 0;
    padding: 0 10px;
  }

  .progress {
    margin: 5px 10px;
    height: 4px;
  }

  .task-abort {
    float: right;
    overflow: hidden;
    margin: 0 0 0 10px;
  }
}
