.TreeView {
    border: 1px solid #000;
    border-radius: 4px;
    background-color: var(--grey-blue);
    transition: opacity .25s ease-in-out;
    overflow: hidden;

    &.is-disabled {
        opacity: .5;
        pointer-events: none;
    }
}

.TreeView-header {
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #000;
    background: #0F1213;
    color: var(--white);
}

.TreeView-backButton.Button {
    flex-shrink: 0;
    padding: 0 .5em !important;
    min-width: 0;

    &.montage--disabled {
        opacity: .3 !important;
        cursor: not-allowed;
        background: none !important;

        &:hover {
            color: currentColor;
        }
    }

    & svg {
        transform: rotate(180deg);
        margin-right: 0;
    }
}

/* current path */

.TreeView-currentNodeName {
    display: inline-block;
    position: absolute;
    line-height: 1em;
    padding: .15em .35em;
    border-radius: 4px;
    top:  calc(50%);
    left: 50%;
    transform: translate(-50%, -50%);
    vertical-align: middle;
    font-weight: 400;

    &.is-selected {
        background-color: var(--blue-lighten-2);
    }
}

/* Body */

.TreeView-body {
    overflow: hidden;
    position: relative;
    height: 10em;
}

/* Footer */

.TreeView-footer {
    display: flex;
    justify-content: space-between;
    padding: .5em;
    background: #0F1213;
    border-top: 1px solid #000;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
