.CalendarTask {
    width: 21em;
    color: inherit;
    min-width: 350px;
    background-color: #2F3233;
}

.CalendarTask-monthOptionDays .MultipleSelectGrid-option {
    /* overrides for the cascade :( */
    min-width: 12.5% !important;
    height: 2.25em !important;
    line-height: 1.25em !important;
}

/* FIXME - hacky fix for width issue */
.CalendarTask .ScrollviewContent:first-of-type {
    min-width: 0;
}

