.CalendarTask {
    width: 24rem;
    color: inherit;
}

.CalendarTask-monthOptionDays .MultipleSelectGrid-option {
    /* overrides for the cascade :( */
    min-width: 12.5% !important;
    height: 2.25em !important;
    line-height: 1.25em !important;
}
