.dashboard {
  position: relative;

  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 25px;
    right: 0;
    bottom: 25px;
    left: auto;
    width: 1px;
    #gradient > .vertical( fade( @freenas-gray, 10% )
                         , fade( darken( @freenas-gray, 10% ), 10% )
                         );
    border-right: 1px solid white;
  }
}

.dashboard-widgets {
  .flex-display( flex );
  .flex-flow( row wrap );

  .widget {
    .flex( 1 );
    height: 240px;
    min-width: 400px;
    margin: 4px;
    padding: 8px 12px;
    background-color: white;
    box-shadow: -1px -1px 2px 0px rgba(0, 0, 0, 0.1)
              , 0px 0px 1px 0 #AEAEAE;
  }

  .widget-toolbar {
    text-transform: uppercase;
    font-weight: 400;
    color: #B0B0B0;
    margin-bottom: 4px;
  }
}
