.dashboard {
  .flex-display( flex );
  .flex-flow( row wrap );

  .widget {
    .flex( 1 );
    height: 200px;
    min-width: 400px;
    box-shadow: 1px 1px 1px 1px rgba( 0, 0, 0, 0.25 );
    margin: 4px;
    padding: 8px 12px;
  }
}
