.dashboard {

}

.dashboard-widgets {
  .flex-display( flex );
  .flex-flow( row wrap );

  .widget {
    .flex( 1 );
    height: 200px;
    min-width: 400px;
    margin: 4px;
    padding: 8px 12px;
  }

  .widget-toolbar {
    text-transform: uppercase;
    font-weight: 200;
    color: @gray-light;
    margin-bottom: 4px;
  }
}
