.drag-target {
  .no-select();
  cursor: default;
  position: relative;
  display: block;
  z-index: 1;
  &:after {
    content: "";
    display: block;
    position: absolute;
    .all-positions-zero();
  }
}

.drop-target {
  .no-select();
  display: block;
}