.drag-target {
  .no-select();
  cursor: default;
  position: relative;
  display: block;
  z-index: 1;
  &:after {
    content: "";
    display: block;
    position: absolute;
    .all-positions-zero();
  }
}

.drag-placeholder {
  display: block;
}

.drag-ghost {
  opacity: 0.45;
}

.drag-block {
  background-color: black;
  opacity: 0.10;
  border-radius: 2px;
}

.drop-target {
  .no-select();
  display: block;
}