.drag-target {
  .no-select();
  cursor: default;
  position: relative;
  display: block;
  z-index: 1;
  &:after {
    content: "";
    display: block;
    position: absolute;
    .all-positions-zero();
  }
}

.drag-placeholder {
  display: block;
}

.drag-ghost {
  opacity: 0.45;
}

.drag-block {
  background-color: black;
  opacity: 0.10;
  border-radius: 2px;
}

.drop-target {
  .no-select();
  display: block;
  position: relative;
}

.drop-zone {
  .all-positions-zero();
  .flex-display( flex );
  .justify-content( center );
  .align-items( center );
  position: absolute;
  background-color: rgba(255, 255, 255, 0.75);
  border: dashed 0.45em rgba(0, 0, 0, 0.1);
  border-radius: inherit;
  z-index: 10;
}
