.hardware-display {
  .flex-display(flex);
  .flex(1);

  .disclosures {
    overflow-y: auto;
    .flex-display(flex);
    .flex(3);
    padding: 1.5em;
  }

  .statics {
    overflow-y: auto;
    .flex-display(flex);
    .flex(1);

    .info-sections {
      .flex(1);
    }
  }
}

