// CUSTOM ICONS
.icon-console {
  position: relative;

  &:before {
    content: "5";
    position: relative;
    left: -0.4em;
    top: 0;
  }

  &:after {
    content: "K";
    position: absolute;
    top: 0.4em;
    right: -0.1em;
  }
}
