/**
 * Network Overview page.
 */

@network-border-color: #e7e7e7;
@network-bg-color: #f5f5f5;

.network-overview {
  padding-top : 15px;

  .alert {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .section {
    margin-bottom: 15px;
    border: 1px solid @network-border-color;
    border-radius: @border-radius-base;

    &.collapsed {
      .section-header {
        border-bottom: none;
        border-bottom-left-radius: @border-radius-base;
        border-bottom-right-radius: @border-radius-base;

        .header-buttons {
          display: none;
        }
      }

      .section-body {
        display: none;
      }
    }

    .section-header {
      padding: 5px 15px;
      background-color: @network-bg-color;
      line-height: 34px;
      border-bottom: 1px solid @network-border-color;
      border-top-left-radius: @border-radius-base;
      border-top-right-radius: @border-radius-base;
      cursor: pointer;
      .clearfix();

      .header-buttons {
        float: right;
      }
    }

    .section-body {
      padding: 15px;

      .form-group {
        .clearfix();

        &:last-child {
          margin-bottom: 0;
        }

        label {
          margin-bottom: 0;
          padding-top: 7px;
          text-align: right;
        }
      }
    }
  }

  .dns-server-list {
    margin-top: 2px;
    padding-left: 0;
    list-style: none;

    li {
      .clearfix();

      .dns-server {
        float: left;
        line-height: 30px;
      }

      .btn {
        float: right;
      }
    }

    li + li {
      margin-top: 10px;
    }
  }
}

.interface-item-container {
  .flex-display( flex );
  .flex-flow( row-wrap );

  .interface-item {
    .flex( 1 )

    .interface-header {
      padding-bottom: .5em;
      padding-left: 1em;
      border-bottom: 1px;
    }

    .interface-name {

      &:before {
        content: "";
        height: .65em;
        width: .65em;
        margin-right: .1em;
        border-radius: 50%;
        display: inline-block;
      }

      &.interface-up:before {
        background: @brand-success;
      }

      &.interface-unknown:before {
        background: orange;
      }

      &.interface-down:before {
        background: red
      }
    }

    .enable-section {
    }

    .ipversion-section {
    }

    .bg-primary {
      background-color: #495B63;
    }
  }
}