.volume {
  // Based on TWBS .panel
  margin        : 25px;
  border-radius : 0;
  box-shadow    : 0 2px 16px -2px rgba(0, 0, 0, 0.15);

  .panel-body {
    padding : 15px;
  }

  .progress {
    margin        : 20px -15px;
    border-radius : 0;
    height        : 10px;
  }
}

.volume-nav {
  text-align: center;

  .nav { display: inline-block; }
}