@topologizer-basis: 60%;

.topologizer {
  min-width: @topologizer-basis;
  position: relative;
}

.topologizer-bounding {
  position : absolute;
  top      : 30%;
  right    : 25.5%;
  bottom   : 0;
  left     : 25.5%;
  z-index  : 1000;
}

.topologizer-handle {
  height        : 20px;
  width         : 20px;
  margin        : -10px 0 0 -10px;
  border        : 5px solid rgba(255, 255, 255, 0.85);
  border-radius : 50%;
  position      : absolute;
  top           : 60%;
  left          : 50%;
  z-index       : 100;
}

.toppologizer-wrap {
  width         : @topologizer-basis;
  padding-bottom: @topologizer-basis;
  position      : relative;
  margin        : 0 auto;
  overflow      : hidden;
  margin-top    : -10%;
  margin-bottom : 15%;
}

.toppologizer-triangle-wrap,
.topologizer-triangle {
  position: absolute;
  .all-positions-zero();
}

.toppologizer-triangle-wrap {
  .transform( scaleX( -0.575 ) translateY( 50% ) );
}

.topologizer-triangle {
  .transform( rotate( 45deg ) );
  background-color: white;
  overflow: hidden;
}

.topologizer-label-health,
.topologizer-label-size,
.topologizer-label-speed {
  position       : absolute;
  text-transform : uppercase;
  color          : @gray;
  font-size      : 12px;
  font-weight    : 300;
}

.topologizer-label-health {
  bottom     : -12%;
  right      : 50%;
  left       : 20%;
  text-align : left;

}

.topologizer-label-size {
  bottom     : -12%;
  left       : 50%;
  right      : 20%;
  text-align : right;
}

.topologizer-label-speed {
  text-align : center;
  top        : 18%;
  left       : 0;
  right      : 0;
}

.topologizer-health {
  position : absolute;
  top      : -100%;
  right    : -100%;
  bottom   : 0;
  left     : 0;
  z-index  : 3;
  #gradient > .radial( fade( @brand-danger, 75% )
                     , fade( white, 0% )
                     );
}

.topologizer-size {
  position : absolute;
  top      : 0;
  right    : 0;
  bottom   : -100%;
  left     : -100%;
  z-index  : 2;
  #gradient > .radial( fade( @brand-primary, 75% )
                     , fade( white, 0% )
                     );
}

.topologizer-speed {
  position : absolute;
  top      : -100%;
  right    : 0%;
  bottom   : 0;
  left     : -100%;
  z-index  : 1;
  #gradient > .radial( fade( @brand-warning, 75% )
                     , fade( white, 0% )
                     );
}
