.section-heading {
  font-weight: 100;
  font-size: 30px;
  margin: 0.75em 1em 0.25em;
  overflow: hidden;
  height: 1.15em;
}

.type-line {
  position: relative;

  &:after {
    content: "";
    display: block;
    background-color: rgba(0,0,0,0.25);
    position: absolute;
    top: 50%;
    left: 100%;
    height: 1px;
    width: 10000px;
    margin-left: 1em;
  }
}
