.widget {
  .flex-display( flex );
  .flex-flow( column wrap );

  canvas {
    width: 100%;
    height: 100%;
  }
}

.widget-toolbar {
}

.widget-chart {
  .flex( 1 );
}

.network-widget-dual {
  .flex( 1 );
  .flex-display( flex );
  .flex-flow( column wrap );
}

.widget.system-info {
  .flex-display( flex );
  .flex-flow( column nowrap );

  .table {
    margin: 0;

    & > thead > tr > th,
    & > tbody > tr > th,
    & > tfoot > tr > th,
    & > thead > tr > td,
    & > tbody > tr > td,
    & > tfoot > tr > td {
      border-top: none;
      padding: 0;
      vertical-align: baseline;
    }
  }

  .property {
    display: block;
    font-weight: 300;
    margin-left: 15px;
  }

  .property-label {
    color: @gray-light;
    font-weight: 200;
    text-transform: uppercase;
    text-align: right;
    font-size: 0.85em;
    width: 20%;
  }

  .hostname {
    font-weight: 800;
    font-size: 1.75em;
  }

  .hardware-info {
    .flex( 1 );
    .flex-display( flex );
    .flex-flow( row wrap );
    border-top: 1px solid @gray-lighter;
    margin-top: 15px;

    .hardware-item {
      .flex( 1 );
      padding: 15px;
    }

    .hardware-name,
    .hardware-value,
    .hardware-detail {
      width: 100%;
      display: block;
      text-align: center;
      font-weight: 200;
    }

    .hardware-name {
      text-transform: uppercase;
      color: @gray-light;
    }

    .hardware-value {
      font-size: 1.5em;
    }

    .hardware-detail {
      font-weight: 300;
      font-size: 0.85em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}