.Inspector {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &.confirmation-is-visible { position: initial; }
}

.Inspector-header {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    height:  3rem;
    padding: 0 1rem;
    background-color: var(--primary);
    border-bottom: 1px solid var(--separator-color);
    min-width: 0;

    & button {
        color: var(--white);
    }

    & > .Inspector-backButton {
        margin-left: -.5rem;

        @nest .SectionRoot & {
            display: none;
            margin-left: 0;
        }
    }
}

.Inspector-title {
    flex: 1;
    display: flex;
    min-width: 0;

    & > span {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

/* Controls Inspector Padding */

.Inspector-body {
    display: flex;
    min-height: 0;

    & .Scroller-content {
        padding: 1rem;
        padding-bottom: 0;
    }

    @nest .SectionRoot & .Scroller-content {
        padding: 0;
    }
}

.Inspector-body-scrollview {
    padding: 1rem;
    padding-bottom: 0;
}

/* Browser with Scrollers */

.Inspector.is-loading .Inspector-footer {
    display: none;
}

/* Global error message */

.Inspector-error {
    display: none;
    position: relative;
    width: 100%;
    background: var(--red);
    padding: .5em;
    padding-top: .2em;
    font-weight: 300;
    color: var(--white);
    border-bottom-left-radius:  4px;
    border-bottom-right-radius: 4px;
}

.Inspector.has-error .Inspector-error {
    display: block;
}

/* Locked Panel */

.Inspector-locked {
    visibility: hidden;
    position: absolute;
    top:    0;
    left:   0;
    right:  0;
    bottom: 0;
    z-index: 100;
}

.Inspector.is-locked .Inspector-locked { visibility: visible; }

.Inspector-locked .montage-Text {
    position: absolute;
    text-align: center;
    line-height: 1em;
    color: var(--white);
    padding: 1em;
    left: 50%;
    top:  50%;
    width: calc(100% - 2em);
    transform: translate(-50%, -50%) scale(0);
    transition: all 1s cubic-bezier(.88,.01,.24,1);
}

.Inspector.is-locked .Inspector-locked .montage-Text {
    transform: translate(-50%, -50%) scale(1) ;
}

.Inspector-locked .montage-Text:before {
    content: '';
    display: block;
    position: absolute;
    width:  500%;
    padding-bottom: 540%;
    transform: translate(-46%,-50%);
    background-color: rgba(0,0,0,.5);
    background-image: repeating-linear-gradient(-45deg, color(var(--color-selected) a(25%))), color(var(--color-selected) a(25%) 1px, transparent 1px, transparent 10px);
    background-size: 28px 28px;
    border-radius: 50%;
    z-index: -1;
}

.Inspector-optionalButtons {
    display: flex;
    margin-left: 1.5em;
}

/*

confirmation

 */

.Inspector-confirmationMessage {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    transition: visibility .25s ease-in-out,
                opacity .25s ease-in-out;

    @nest .delete-confirmation-is-visible & {
        &.delete-confirmation {
            opacity: 1;
            visibility: visible;
        }
    }

    @nest .save-confirmation-is-visible & {
        &.save-confirmation {
            opacity: 1;
            visibility: visible;
        }
    }

    @nest .other-confirmation-is-visible & {
        &.other-confirmation {
            opacity: 1;
            visibility: visible;
        }
    }
}

/* Help */

/* Help */

/* .Inspector-help {
    display: none;
    flex-direction: column;
    height: 0;
    background-color: color(var(--blue) a(5%));
    border-radius: 4px;
    transition: height .25s ease-in-out;

    @nest .help-visible & {
        display: block;
        height: 10em;
    }

    & h5 {
        margin-top: .5em;
    }
}

.Inspector-help-message {
    color: var(--white);
    padding: .5em 1em;
} */
