.Topology {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}

.Topology-data {
    flex: 1;
    min-width: 500px;
}

.Topology .Inspector-body {
    margin: 0;
}

.Topology .DiskIcon {
    width: 2.5em;
    padding: .25em;
}

@-webkit-keyframes blink {
    0% {
        border-color: rgba(43,156,216,0.1);
    }

    50% {
        border-color: rgba(43,156,216,0.5);
    }

    100% {
        border-color: rgba(43,156,216,0.1);
    }
}

@keyframes blink {
    0% {
        border-color: rgba(43,156,216,0.1);
    }

    50% {
        border-color: rgba(43,156,216,0.5);
    }

    100% {
        border-color: rgba(43,156,216,0.1);
    }
}
