.Topology {}

/*.Topology-splitRow {
    display: flex;
}

.Topology-splitRow > * {
    width: 100%;
}*/

.Topology-data {}

.Topology .Inspector-body {
    margin: 0;
}

.Topology .DiskIcon {
    width: 2.5em;
    padding: .25em;
}

@-webkit-keyframes blink {
    0%      { border-color: rgba(43,156,216,0.1); }
    50%     { border-color: rgba(43,156,216,0.5); }
    100%    { border-color: rgba(43,156,216,0.1); }
}

@keyframes blink {
    0%      { border-color: rgba(43,156,216,0.1); }
    50%     { border-color: rgba(43,156,216,0.5); }
    100%    { border-color: rgba(43,156,216,0.1); }
}
