.AlertFilter {
    min-width: 42rem;
}

.AlertFilter-table .Table-cells > div:nth-child(1),
.AlertFilter-table .TableHeaderLayout-row .TableHeaderLayout-cell:nth-child(1) {
    max-width: 14rem;
}

.AlertFilter-table .Table-cells > div:nth-child(2),
.AlertFilter-table .TableHeaderLayout-row .TableHeaderLayout-cell:nth-child(2) {
    max-width: 6rem;
}

.AlertFilter-table .Table-cells > div:nth-child(3),
.AlertFilter-table .TableHeaderLayout-row .TableHeaderLayout-cell:nth-child(3) {}

.AlertFilter-table .Table-cells > div:nth-child(1),
.AlertFilter-table .Table-cells > div:nth-child(2),
.AlertFilter-table .Table-cells > div:nth-child(3) {
    align-items: flex-start;
}

.AlertFilter-table .Table.has-multipleSelection .Table-selectRow {
    align-items: flex-start;
    padding-top: .75rem;
}

