.InterfaceOverviewItem {
    position: relative;
    display: flex;
    flex-direction: column;
}

.InterfaceOverviewItem-overview {
    position: relative;
    display: flex;
    align-items: center;
}

.InterfaceOverviewItem-details {
    display: none;
    padding-left: 2em;

    @nest .InterfaceOverviewItem.is-expanded & {
        display: block;
    }
}

.InterfaceOverviewItem-toggle {
    cursor: pointer;
    & svg {
        height: 1rem;
        width:  1rem;
    }
}

.InterfaceOverviewItem-name {
    width: 10em;
    padding-left: 1.25rem;
}

.InterfaceOverviewItem-firstAddress {
    flex: 1;
    text-align: right;
    margin-right: 1em;

    @nest .InterfaceOverviewItem.is-expanded & {
        visibility: hidden;
    }
}

.InterfaceOverviewItem-status {
    position: absolute;
    font-size: .5em;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
}

.InterfaceOverviewItem-status .TrafficLight-legend { display: none; }

