.DirectoryServices-body {
    flex: 0 !important;
}

.DirectoryServices-searchorderContainer {
    flex-grow: 0;
    padding: 1em;
}

.DirectoryServices-buttons {
    display: flex;
    justify-content: space-between;
}

.DirectoryServices-ntpSyncNow-button {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 1em;
}
