.DirectoryServices-body {
    flex-grow: 0;
}

.DirectoryServices-searchorderContainer {
    flex-grow: 0;
    padding: 1em;
}

.DirectoryServices-buttons {
    display: flex;
    justify-content: space-between;
}
