.WidgetIcon {
    box-sizing: content-box;
    position: relative;
    height: 2em;
    width:  2em;
    padding: .15em;
    border-radius: 4px;
    background: var(--transparent--lighten);
    border: 2px solid transparent;
}

.WidgetIcon + .WidgetIcon { margin-top: 1em; }

/* badge */

.WidgetIcon-badge {
    display: none;
    position: absolute;
    top:    -.5em;
    transform:  translateX(-50%);
    border-radius: .5rem;
    padding: 0.2em 0.45em .25em;
    font-size: 0.7em;
    background: var(--grey-2);
    color: #000;
    line-height: 1em;
    box-shadow: 0 2px 2px rgba(0,0,0,.3);
}

/* sets color levels */

.WidgetIcon.has-error .WidgetIcon-badge,
.WidgetIcon.has-critical .WidgetIcon-badge,
.WidgetIcon.has-info .WidgetIcon-badge,
.WidgetIcon.has-warning .WidgetIcon-badge {
    color: var(--white);
}


.WidgetIcon.has-info .WidgetIcon-badge      { background-color: #BB8E00;}
.WidgetIcon.has-info                        { border-color:     #BB8E00;}

.WidgetIcon.has-warning .WidgetIcon-badge   { background-color: #D95B1B;}
.WidgetIcon.has-warning                     { border-color:     #D95B1B;}


.WidgetIcon.has-critical .WidgetIcon-badge { background-color: var(--red); }
.WidgetIcon.has-critical,
.WidgetIcon.has-error                      { border-color:     var(--red); }

.WidgetIcon-badge.has-value,
.WidgetIcon-badge.is-executing {
    display: block;
}

