.Progress {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;

    & svg {
        right: 0;
        width:  1.4em;
        height: 1.4em;
    }
}

.Progress-wrapper {
    flex: 1;
    height: .5em;
    position: relative;
    background-color: var(--grey-3);
}

.Progress-bar {
    position: absolute;
    top:    0;
    left:   -1px;
    right:  -1px;
    bottom: 0;
    background-color: var(--accent);
    transition: transform .25s ease-in-out;

    @nest .Progress.has-success & {
        background-color: var(--green);
    }

    @nest .Progress.has-error & {
        background-color: var(--red);
    }
}

.Progress-statusIcon {
    margin-left: .5rem;
    display: flex;

    @nest .Progress.has-error & {
        color: var(--red);
    }
}

.Progress-active .Spinner svg {
    width:  1.1rem;
    height: 1.1rem;
}

#pending-l,
#pending-c,
#pending-r {
    animation: pulse .5s linear infinite alternate;
}

#pending-c { animation-delay: .1s; }

#pending-r { animation-delay: .2s; }

.Progress-success {
    color: var(--green);
}
