.CalendarList {
    position: relative;
    display: flex;
    flex-direction: column;
    & .Scrollview-transform {
        flex: none;
    }
}

.CalendarList-days {
    padding-top: 1em;
}

.CalendarList-emptyState {
    display: none;

    @nest .is-empty & {
        display: block;
    }
}

.CalendarList-emptyState-content {
    display: inline-block;
    border: 1px solid #bb8e00;
    padding: .45em 1em .55em;
    border-radius: 4px;
    margin-top: 1em;
    color: var(--white);
}

