// SESSION INTERRUPT DIALOG - STYLESHEET
// =====================================

@styles-path: "../../../styles/";

@import ( reference ) "@{styles-path}core.less";

.sid {
  &.overlay-dark {
    background: fade( darken( @brand-primary, 35% ), 84% );
  }

  .overlay-window {
    .box-shadow( none );
    background: none;
    border: none;

    color: white;
    text-align: center;
  }

  .logo-wrapper {
    height: 60px;
    padding: 2px 20px 4px 25px;
    box-sizing: initial;
    display: inline-block;
  }

  .logo-image,
  .logo-wordmark,
  .logo-x {
    height: inherit;
    float: left;
  }

  .logo-image {
    padding: 5px 0;
    margin-right: 20px;
  }

  .logo-wordmark {
    padding: 15px 0;
  }

  .logo-x {
    padding: 8px 0;
    margin-left: 5px;
  }
}
