// SESSION INTERRUPT DIALOG - STYLESHEET
// =====================================

@styles-path: "../../../styles/";

@import ( reference ) "@{styles-path}core.less";

.sid {
  .flex-display( flex );
  .align-items( center );
  .justify-content( center );
  .flex-flow( row nowrap );
  background: fade( darken( #2b3241, 5% ), 90% );
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: 2000;

  .sid-content {
    .flex( 0 1 360px );
    color: white;
    text-align: center;
    color: #9da7b4;

    h3{
      margin-bottom: 24px;
    }

    .form-control{
      height: 36px;
      font-size: 15px;
      border-color: rgba(250,250,250,0.2)
    }

    .form-control::-webkit-input-placeholder, .form-control:-moz-placeholder, .form-control::-moz-placeholder, .form-control:-ms-input-placeholder{
      font-style: normal;
      color: #444;
    }

    button{
      padding: 8px 16px;
    }

    .form-group{
      margin-bottom: 24px;
    }
  }

  .logo-wrapper {
    height: 88px;
    box-sizing: initial;
    display: inline-block;
  }

  .logo-image,
  .logo-wordmark,
  .logo-x {
    height: inherit;
    float: left;
  }

  .logo-image {
  }

  .logo-wordmark {
    padding: 15px 0;
  }

  .logo-x {
    padding: 8px 0;
    margin-left: 5px;
  }
}
