.SectionRoot {
    display: flex;
    flex-direction: column;
}

.SectionRoot-entries {
    display: flex;
    flex-direction: column;
}

.SectionRoot-overview {
    display: flex;
    flex-direction: column;
    min-height: 15em;

    & > :first-child {
        display: flex;
        flex: 1;
        flex-direction: column;
    }

    & .Scrollview-transform {
        display: block;
    }
}

.SectionRoot-title {
    color: #fff;
    padding: .5em 1em;
    background: purple;
    font-weight: 400;
    margin: 0;
}
