.SectionRoot {
    display: flex;
    flex-direction: column;
}

.SectionRoot-entries {
    display: flex;
    flex-direction: column;
}

.SectionRoot-overview {
    position: relative;
    display: flex;
    flex-direction: column;
    max-height: 15em;

    &:after {
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        right: 0;
        height: 1.5em;
        background-image: linear-gradient(rgba(47, 50, 51, 0), rgba(47, 50, 51, 1));
    }

    & > :first-child {
        display: flex;
        flex: 1;
        flex-direction: column;
    }

    & .Scrollview-transform {
        display: block;
    }
}

.SectionRoot-title {
    color: #fff;
    padding: .5em 1em;
    background: purple;
    font-weight: 400;
    margin: 0;
}
