.Configuration {
    flex: 1;
}

.Configuration .ScrollviewContent {
    width: 100%;
}

.Configuration table {
    /*background-color: #B0BBBD;*/
    margin-bottom: 0;
    /*color: #16171A;*/
}

.Configuration th {
    text-align: left;
    line-height: 1em;
    padding: .5em 1em;
    font-weight: 300;
    color: #E9FDFF;
}

.Configuration table tr:nth-child(even) {
    background-color: rgba(0,0,0,.1);
}
