.Configuration {

}

table {
    margin: 0;
    margin-bottom: 1em;
    border: none;
    border-collapse: collapse;
    width: 100%;
}

thead {
    background: #4F4F4F;
    color: rgba(255,255,255,.8);
    margin-bottom: 1em;
}
tbody {}

tr {
    padding: 1em;
}

td {
    margin: 0;
    padding: .25em 1em;
}
