@styles-path: "../../styles/";

@import ( reference ) "@{styles-path}core.less";

.calendar {
  .month {

    .day,
    .day-label {
      min-width: (100% / 7);
      float    : left;
    }

    .day {
      min-height: 115px;
      position: relative;
      background: #EFEFEF;
      &:nth-child(7n) .day-content,
      &:nth-child(7n+1) .day-content {
        background: #EFEFEF;
      }

      .day-content.day-blank {
        background: #E3E3E3;
      }

      &.selected .day-content {
        background: #e9f4fb;
        .box-shadow( inset 0 0 20px 0px #DEECF5 );
      }

      .alert {
        font-size: 10px;
        position: relative;
        padding: 5px 10px;
        text-align: left;
      }
    }

    .day-label {
      text-align: center;
      padding: 10px 0;
      border-bottom: 1px solid#C2C2C2;
    }

    .day-numeral {
      width: 1.75em;
      height: 1.75em;
      display: inline-block;
      line-height: 1.75em;
      text-align: center;
      font-size: 0.85em;
    }

    .today .day-numeral {
      color: white;
      border-radius: 50%;
      background: rgb(240, 90, 90);
    }
  }

  .day-content {
    position: absolute;
    top: 0.5px; right: 0.5px; bottom: 0.5px; left: 0.5px;
    background: #F9F9F9;
    text-align: right;
    padding: 5px;
    color: #777;
  }

  .task-remove {
    height           : 14px;
    width            : 14px;
    line-height      : 14px;
    display          : block;
    position         : absolute;
    right            : 0;
    top              : 0;
    color            : black;
    background-color : fade(black, 10%);
    border-radius    : 50%;
    font-size        : 14px;
    text-align       : center;
    font-style       : normal;
    font-weight      : 100;
    .transition( all 0.25s );
    z-index: 1;

    &:before {
      content: "×";
      display: block;
    }

    &:hover {
      color: white;
      background-color: @brand-danger;
      border-color: @brand-danger;
    }
  }
}
