@styles-path: "../../styles/";

@import ( reference ) "@{styles-path}core.less";

.app-view > .system-wrapper {
  .flex-flow( row wrap );
  .disclosures {
    overflow-y: auto;
    .flex(3);
    padding: 1.5em;

    .disk-item-section {
      .flex-display(flex);
      .flex-flow(row wrap);
      .justify-content(left);

      .disk-item {
        margin: 0.25em;
      }
    }
  }

  .statics {
    overflow-y: auto;
    .flex-display(flex);
    .flex(1);

    .info-sections {
      .flex(1);
    }
  }
}

