/**
 * Network Overview page.
 */

@network-border-color: #e7e7e7;
@network-bg-color: #f5f5f5;

.network-overview {
  padding-top : 15px;
  margin: 0 25px;

  .alert {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .dns-section {

    .dns-server-list {
      margin-top: .05em;
      padding-left: 0;
      overflow-y: scroll;
      height: 3.9em;

      .dns-server {
        float: left;
        margin-bottom: .39em;
        line-height: 1.2em;
        width: 100%;
      }

      // Manually imposing the xsmall bootstrap size.
      // Not sure why it was being overridden.
      .btn {
        float: right;
        padding: 1px 7px;
        font-size: 12px;
        line-height: 1.6;
        border-radius: 2px;
        vertical-align: center;
        margin-right: 1.2em;

        &:before {
          content: "×";
        }
      }
    }
  }
}

.network-divider {
  margin-top: 0em;
  margin-bottom: .6em;
  border-top: 1px solid #dedede;
}

.interface-item-container {
  .flex-display( flex );
  .flex-flow( row-wrap );

  .interface-item {
    margin: .5em;

    .interface-header {
      padding-bottom: .5em;
      padding-left: 1em;
      border-bottom: 1px;
    }

    .interface-name {

      margin-top: 0px;

      &:before {
        content: "";
        height: .65em;
        width: .65em;
        margin-right: .1em;
        border-radius: 50%;
        display: inline-block;
      }

      &.interface-up:before {
        background: @brand-success;
      }

      &.interface-unknown:before {
        background: orange;
      }

      &.interface-down:before {
        background: red
      }
    }

    .alias-attribute-label {
      font-weight: bolder;
    }

    .alias-attribute {
      font-weight: 300;
    }

    .bg-primary {
      background-color: #495B63;
    }

    .network-alias {
      padding-bottom: .6em;
    }
  }
}